
<div class="row">
    <div class="col-md-12">
        <h6 class="mb-3 text-center">Factor Penetracion</h6>

        <form [formGroup]="models">
            <div formArrayName="modelos">
                <table class="table text-center table-sm">
                    <thead class="table-success fs-6">
                        <tr>
                            <th>Item</th>
                            <th>Categoria </th>
                            <th>Zona Proyectada</th>
                            <th>Canal </th>
                            <th>FPenetracion</th>
                            <th>Medicion</th>
                            <th>Acción</th>
                        </tr>
          
                    </thead>
                    <tbody>
                        @if (modelosArray.controls.length!=0) {
                          @for (model of modelosArray.controls; track $index) {
                            <tr [formGroupName]="$index" (click)="selectAtributo($index)">
                              <td> <label class="mt-2">{{model.get('id')?.value}}</label>  </td>

                        
                              <td>
                                <select class="form-select form-select-sm" formControlName="idCategoria" >
                                    <option value="0">SELECCIONAR</option>
                                    @for (categoria of categorias; track $index) {
                                        <option value={{categoria.id}}>{{categoria.descripcion}}</option>
                                    }
                                </select>
                              </td>

                              <td>
                                <select class="form-select form-select-sm" formControlName="idZona">
                                    <option value="0">SELECCIONAR</option>
                                    @for (zona of zonas; track $index) {
                                        <option value={{zona.id}}>{{zona.descripcion}}</option>
                                    }
                                </select>
                              </td>

                              <td>
                                <select class="form-select form-select-sm" formControlName="idCanal">
                                    <option value="0">SELECCIONAR</option>
                                    @for (canal of canals; track $index) {
                                        <option value={{canal.id}}>{{canal.descripcion}}</option>
                                    }
                                </select>
                              </td>

                              <td> <input type="number" class="form-control form-control-sm" formControlName="valor"> </td>

                              <td>
                                <select class="form-select form-select-sm" formControlName="idMedicion" >
                                    <option value="0">SELECCIONAR</option>
                                    @for (medicion of medicions; track $index) {
                                        <option value={{medicion.id}}>{{medicion.medicion}}</option>
                                    }
                                </select>
                              </td>

                              

                            

                            
                              
                           
                             
                    
                              
                              <td>
                                  <div class="btn-group">
          
                                      @if(model.get('id')?.value!=0){
                                     
                                              <img class="iconEdit" src="assets/editar.png"  (click)="editModel($index)">
                                              <img class="iconEliminar" src="assets/eliminar.png"  (click)="delete($index)">
                                      @if(modelosArray.controls.length==$index+1){
                                        <img class="iconNuevo" src="assets/nuevo.png"  (click)="add()">
                                      }
                                      }@else{
                                        <img class="iconNuevo" src="assets/nuevo.png"  (click)="save($index)">
                                      }
                                  </div>
          
          
          
                              </td>
                          </tr>
                          }
                           
                        }
          
                    </tbody>
                </table>
            </div>
          
          </form>
    </div>
    <div class="col-md-1"></div>
   
</div>



