<div class="list-group">

    <a href="#" class="list-group-item list-group-item-action"> CANAL DE VENTA </a>


    <a href="#" class="list-group-item list-group-item-action"> TIPO DE DIRECCION </a>
    <a href="#" class="list-group-item list-group-item-action"> TIPO DE ESTUDIO </a>
    <a href="#" class="list-group-item list-group-item-action"> TIPO DE PRESENTACIÓN </a>
    <a href="#" class="list-group-item list-group-item-action"> TIPO DE MONEDA </a>
    <a href="#" class="list-group-item list-group-item-action"> TIPO DE MONEDA POR PAÍS </a>
    <a href="#" class="list-group-item list-group-item-action"> UBIGEO 1 - PROVINCIA </a>
    <a href="#" class="list-group-item list-group-item-action"> UBIGEO 1 - DISTRITO </a>
    <a href="#" class="list-group-item list-group-item-action"> UBIGEO 1 - URBANIZACION </a>
    <a href="#" class="list-group-item list-group-item-action"> UBIGEO 1 - VIA </a>
    <a href="#" class="list-group-item list-group-item-action"> UNIDAD DE MEDIDA </a>
    <a href="#" class="list-group-item list-group-item-action"> UNIDAD DE VENTA </a>

</div>