<h4 class="text-center">{{title}}</h4>

<div class="row">
  <div class="col-md-6">
    <h6 class="mb-3 text-center">INFORMACION DE LA CATEGORIA</h6>
    <hr>
    <app-categoria-form #categoriaForm (updateModelsEmit)="get(modelEdit.codCanasta,modelEdit.codMegaCategoria)" [model]="modelEdit"></app-categoria-form>
  </div>
  <div class="col-md-6">
    <h6 class="mb-3 text-center">CATEGORIAS REGISTRADAS</h6>
    <hr>
    <app-categoria-list [models]="models" (updateModelsEmit)="get(modelEdit.codCanasta,modelEdit.codMegaCategoria)" (editEmit)="editModel($event)"></app-categoria-list>
  </div>
</div>


<br>
