<h4 class="text-center">{{title}}  <span class="text-danger">{{modelEdit.descripcion}}</span> </h4>

<div class="row">
  <div class="col-md-8" >
    <h6 class="mb-3 text-center">INFORMACION DE LA CATEGORIA</h6>
    <hr>
    <app-categoria-form #categoriaForm (selectCategoriaEmit)="selectCategoria($event)" (editEmit)="editModel($event)"
      (updateModelsEmit)="get($event)"
      [model]="modelEdit"></app-categoria-form>
  </div>

  <div class="col-md-4">
 
    <div class="list-group mt-3">
      <button type="button" class="list-group-item list-group-item-action" [class.active]="botonActivo === 'categorias'"
        (click)="mostrarContenido('categorias')">Categorías registradas</button>


      @if(modelEdit.id){
        <button type="button" class="list-group-item list-group-item-action" [class.active]="botonActivo === 'atributos'"
          (click)="mostrarContenido('atributos')">Atributos técnicos</button>

        @if(modelEdit.idTipoCategoria==1){
          <button type="button" class="list-group-item list-group-item-action" [class.active]="botonActivo === 'unidadVenta'" (click)="mostrarContenido('unidadVenta')">Unidad
            de Venta</button>
        }  
      }  
     
    </div>
  </div>

</div>
<hr>
<div class="row">
  <div class="col-md-12">
  
    @if(contenidoVisible === 'atributos' ){
      <app-categoria-atributos [modelCategoria]="modelEdit" #categoriaAtributos ></app-categoria-atributos>
    }@else if(contenidoVisible === 'unidadVenta'){
      <app-categoria-unidad-venta [modelCategoria]="modelEdit"></app-categoria-unidad-venta>
    }@else {
      <h6 class="mb-3 text-center">CATEGORIAS REGISTRADAS</h6>
      <hr>
      <app-categoria-list [models]="models" [selectIndex]="getIndex" (eligeModelEmit)="eligeModel($event)"  (updateModelsEmit)="get(modelEdit.idMegaCategoria)"
        (editEmit)="editModel($event)"></app-categoria-list>
    }
 
    <!-- <div *ngIf="contenidoVisible === 'canales'">
      <app-categoria-canal-venta></app-categoria-canal-venta>
    </div>
    <div *ngIf="contenidoVisible === 'exhibidores'">
      <app-categoria-exhibidores></app-categoria-exhibidores>
    </div>
    <div *ngIf="contenidoVisible === 'subproductos'">Contenido de Subproductos</div>
 -->



  </div>
</div>
