<h5 class="text-center">GESTIÓN DE MEDICIONES</h5>

<form  autocomplete="off" [formGroup]="myForm">
    <div class="mb-3 row">
        <div class="col-sm-3" *ngIf="authService.canEdit(12)">
            <div class="input-group">
  
                <button type="button" (click)="agregarMedicion()" class="btn btn-sm btn-success form-control form-control-sm"><i class="bi bi-plus-lg"></i> Agregar Medición</button>
            </div>
    
        </div>

        <div class="col-sm-9">
            <table class="table table-sm table-bordered">
                <thead class="table-success">
                    <tr>
                        <th>Medicion</th>
                        <th>Estado</th>
                        <th>Creacion</th>
        
                       <th>Accion</th> 
                    </tr>
                </thead>
                <tbody>
                    @for (model of models; track $index) {
                        <tr>
                            <td>{{model.medicion}}</td>
                            <td>  <app-badge-estado [estado]="model.estado"></app-badge-estado> </td>
                            <td>{{model.fechaRegistro.substring(0,10)}}</td>
                            <td>
                                <app-tooltip *ngIf="authService.canEdit(12)" [tooltipText]="'Eliminar'" [imgSrc]="'assets/eliminar.png'" (clickEvent)="borrar(model)"></app-tooltip>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</form>