<form (ngSubmit)="submit()" autocomplete="off" [formGroup]="myForm">
    <div class="mb-3 row">
        <div class="col-sm-3">
            <div class="input-group">
                <span class="input-group-text">Año | mes</span>
                <input type="text" class="form-control form-control-sm" placeholder="anio" name="anio"
                    formControlName="anio" id="anio">
                <input type="text" class="form-control form-control-sm" placeholder="mes" name="mes"
                    formControlName="mes" id="mes">
                <button type="submit" class="btn btn-sm btn-success form-control form-control-sm">Guardar</button>
            </div>
            <span *ngIf="isValidField('anio')" class="form-text text-danger">
                {{ getFieldError('anio') }}
            </span>
            <span *ngIf="isValidField('mes')" class="form-text text-danger">
                {{ getFieldError('mes') }}
            </span>
        </div>

        <div class="col-sm-9">
            <table class="table table-sm table-bordered">
                <thead class="table-success">
                    <tr>
                        <th>Medicion</th>
                        <th>Estado</th>
                        <th>Creacion</th>
        
                       <th>Accion</th> 
                    </tr>
                </thead>
                <tbody>
                    @for (model of models; track $index) {
                        <tr>
                            <td>{{model.medicion}}</td>
                            <td>  <app-badge-estado [estado]="model.estado"></app-badge-estado> </td>
                            <td>{{model.fechaRegistro.substring(0,10)}}</td>
                            <td>
                                <app-tooltip [tooltipText]="'Eliminar'" [imgSrc]="'assets/eliminar.png'" (clickEvent)="borrar(model)"></app-tooltip>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="mb-3 row">
        <div class="col-sm-3">
            <span>Medición: {{getMedicion}}</span>
        </div>
    </div>
</form>