@if (loading) {
    <app-div-cargando></app-div-cargando>
}@else {
    @if(models.length>0){
        <table class="table table-sm table-bordered">
            <thead class="table-success">
                <tr>
                    <th>Id</th>
                    <th>Moneda</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                </tr>
            </thead>
        
            <tbody>
                
                @for (model of models; track $index) {
                    <tr>
                        <td>{{model.id}}</td>
                        <td>{{model.Moneda.descripcion}}</td>
                        <td>{{model.TipoTipoCambio.descripcion}}</td>
                        <td>{{model.valor}}</td>
                        <td>{{ model.fecha | date:'dd/MM/yyyy' }}</td>
                        <td>

                            <img class="iconEdit" src="assets/editar.png" (click)="selectEdit(model)">


                            <img class="iconEliminar" src="assets/eliminar.png" (click)="delete(model)">

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }@else {
        <span>No se encontraron resultados</span>
    }
}

