<div class="row">
    <h6 class="mb-3 text-center">PARAMETROS REGISTRADOS</h6>
    <hr>
    <div class="col-md-12">
        @if (showLoading && models.length==0) {
            <app-div-cargando></app-div-cargando>

        } @else {
        <table class="table table-sm table-bordered">
            <thead class="table-success">
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>


                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @for (model of models; track $index) {
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{model.codigo}}</td>
                        <td>{{model.descripcion}}</td>
    
    
                        <td>
                            <button class="btn btn-danger btn-sm" type="button" (click)="delete(model)"><i
                                    class="bi bi-trash"></i></button>
                            <button class="btn btn-info btn-sm" type="button" (click)="editModel(model)"><i
                                    class="bi bi-pencil"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }

    </div>
</div>