<div class="row">
    <h6 class="mb-3 text-center">PARAMETROS REGISTRADOS</h6>
    <hr>
    <div class="col-md-12">
        
        <table class="table table-sm table-bordered">
            <thead class="table-success">
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>


                    <th>Fecha Modificacion</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @for (model of models; track $index) {
                <tr (click)="elegirModel(model, $index)" [ngClass]="{'selected-row': $index === selectedRowIndex}">
                    <td>{{model.id}}</td>
                    <td>{{model.descripcion}}</td>
                    <td>{{model.fechaModificacion.substring(0,10)}}</td>


                    <td>
                        <!-- <button class="btn btn-sm btn-danger btn-sm" type="button" (click)="delete(model)"><i
                                    class="bi bi-trash"></i></button>
                            <button class="btn btn-sm btn-info btn-sm" type="button" (click)="editModel(model)"><i
                                    class="bi bi-pencil"></i></button> -->

                        <img class="iconEdit" src="assets/editar.png" (click)="editModel(model)">

                        <img class="iconEliminar" src="assets/eliminar.png" (click)="delete(model)">
                    </td>
                </tr>
                }
            </tbody>
        </table>
        

    </div>
</div>