<h4>Mantenimiento de Contratos</h4>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="cliente-tab" data-bs-toggle="tab" data-bs-target="#cliente" type="button"
            role="tab" aria-controls="cliente" aria-selected="true">Cliente</button>
    </li>
    @if(this.cliente.codigo!=0 && this.categoria.codigo!=0){
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contrato-tab" data-bs-toggle="tab" data-bs-target="#contrato" type="button"
            role="tab" aria-controls="contrato" aria-selected="false">Contrato</button>
    </li>
    }

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane  show active" id="cliente" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

        <div class="row mt-4">
            <div class="col-2">

                <div class="mb-3 row">
                    <label for="codCliente" class="col-md-5 col-form-label-sm">Cliente</label>
                    <div class="col-sm-7">
                        <select class="form-select form-select-sm" name="codCliente" (change)="changeCliente($event)"
                            id="codCliente">
                            <option value="0">SELECCIONAR</option>
                            @for (cliente of clientes; track $index) {
                            <option value="{{cliente.codigo}}">{{cliente.razonSocial}}</option>
                            }
                        </select>
                    </div>

                </div>

            </div>


            <div class="col-2">

                <div class="mb-3 row">
                    <label for="categorias" class="col-md-5 col-form-label-sm">Categorias</label>
                    <div class="col-sm-7">
                        <select class="form-select form-select-sm" name="categorias" id="categorias"
                            (change)="changeCategoria($event)">
                            <option value="0">SELECCIONAR</option>
                            @for (categoria of categorias; track $index) {
                            <option value="{{categoria.codigo}}">{{categoria.descripcion}}</option>
                            }
                        </select>
                    </div>

                </div>

            </div>

        </div>

    </div>
    @if(this.cliente.codigo!=0 && this.categoria.codigo!=0){

    <div class="tab-pane " id="contrato" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

        <form [formGroup]="model" autocomplete="off">
            <br>
            <div class="row">
                <div class="col-md-3">

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ESTUDIO
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                >
                                <div class="accordion-body">
                                    <div class="mb-3 row">
                                      
                                        <div class="col-sm-12">
                                            <div *ngFor="let tipoEstudio of tipoEstudios; let i = index"
                                                class="form-check">
                                                <input type="checkbox" class="form-check-input" name="tipoEstudios"
                                                    formControlName="tipoEstudios" [value]="tipoEstudio.codigo"
                                                    id="tipoEstudio_{{ i }}"
                                                    
                                                    >
                                                <label class="form-check-label" for="tipoEstudio_{{ i }}">{{
                                                    tipoEstudio.descripcion }}</label>
                                            </div>
                                        </div>
                                        <span *ngIf="isValidField('tipoEstudios')" class="form-text text-danger">
                                            {{ getFieldError('tipoEstudios') }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ZONA
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                >
                                <div class="accordion-body">
                                    <div class="mb-3 row">
                                      
                                        <div class="col-sm-12">
                                            <div *ngFor="let zona of zonas; let i = index" class="form-check">
                                                <input type="checkbox" class="form-check-input" name="zonas"
                                                    formControlName="zonas" [value]="zona.codigo" id="zona_{{ i }}"
                                                    [checked]="getModel.zonas.includes(zona.codigo)"
                                                    (change)="toggleCheckbox(zona.codigo)"
                                                    >
                                                <label class="form-check-label" for="zona_{{ i }}">{{ zona.descripcion
                                                    }}</label>
                                            </div>
                                        </div>
                                        <span *ngIf="isValidField('zonas')" class="form-text text-danger">
                                            {{ getFieldError('zonas') }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    CANAL
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                >
                                <div class="accordion-body">
                                    <div class="mb-3 row">
                                      
                                        <div class="col-sm-12">
                                            <div *ngFor="let canal of canals; let i = index" class="form-check">
                                                <input type="checkbox" class="form-check-input" name="canals"
                                                    formControlName="canals" [value]="canal.codigo" id="canal_{{ i }}"
                                                    [checked]="getModel.canals.includes(canal.codigo)"
                                                    (change)="toggleCheckbox(canal.codigo)"
                                                    >
                                                <label class="form-check-label" for="canal_{{ i }}">{{ canal.descripcion
                                                    }}</label>
                                            </div>
                                        </div>
                                        <span *ngIf="isValidField('canals')" class="form-text text-danger">
                                            {{ getFieldError('canals') }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    QUIEBRE
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                >
                                <div class="accordion-body">
                                    <div class="mb-3 row">
                                      
                                        <div class="col-sm-12">
                                            <div *ngFor="let atributoFuncionalVariedad of atributoFuncionalVariedads; let i = index"
                                                class="form-check">
                                                <input type="checkbox" class="form-check-input"
                                                    name="atributoFuncionalVariedads"
                                                    formControlName="atributoFuncionalVariedads"
                                                    [value]="atributoFuncionalVariedad.codigo"
                                                    id="atributoFuncionalVariedad_{{ i }}"  
                                                    [checked]="getModel.atributoFuncionalVariedads.includes(atributoFuncionalVariedad.codigo)"
                                                    (change)="toggleCheckbox(atributoFuncionalVariedad.codigo)"
                                                    >
                                                <label class="form-check-label"
                                                    for="atributoFuncionalVariedad_{{ i }}">{{
                                                    atributoFuncionalVariedad.descripcion }}</label>
                                            </div>
                                        </div>
                                        <span *ngIf="isValidField('atributoFuncionalVariedads')"
                                            class="form-text text-danger">
                                            {{ getFieldError('atributoFuncionalVariedads') }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-info" (click)="actualizarEleccion()">Actualizar</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-5"></div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12">

                            <div class="mb-3 row">
                                <label for="fechaInicial" class="col-md-5 col-form-label-sm">Fecha Inicial</label>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control" formControlName="fechaInicial">
                                </div>
                                <span *ngIf="isValidField('fechaInicial')" class="form-text text-danger">
                                    {{ getFieldError('fechaInicial') }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <div class="mb-3 row">
                                <label for="fechaFinal" class="col-md-5 col-form-label-sm">Fecha Inicial</label>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control" formControlName="fechaFinal">
                                </div>
                                <span *ngIf="isValidField('fechaFinal')" class="form-text text-danger">
                                    {{ getFieldError('fechaFinal') }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <div class="mb-3 row">
                                <label for="diaEntrega" class="col-md-5 col-form-label-sm">Día de Entrega</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" formControlName="diaEntrega">
                                </div>
                                <span *ngIf="isValidField('diaEntrega')" class="form-text text-danger">
                                    {{ getFieldError('diaEntrega') }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <div class="mb-3 row">
                                <label for="extension" class="col-md-5 col-form-label-sm">Admitir extensión</label>
                                <div class="col-sm-7">
                                    <input type="checkbox" class="form-check-input" formControlName="extension">
                                </div>
                                <span *ngIf="isValidField('extension')" class="form-text text-danger">
                                    {{ getFieldError('extension') }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <div class="mb-3 row">
                                <label for="frecuencias" class="col-md-5 col-form-label-sm">Frecuencias</label>
                                <div class="col-sm-7">
                                    <select class="form-select form-select-sm" name="frecuencias"
                                        formControlName="frecuencias" id="frecuencias" multiple>

                                        @for (frecuencia of frecuencias; track $index) {
                                        <option value="{{frecuencia.id}}">{{frecuencia.descripcion}}</option>
                                        }
                                    </select>
                                </div>
                                <span *ngIf="isValidField('frecuencias')" class="form-text text-danger">
                                    {{ getFieldError('frecuencias') }}
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>





        </form>
    </div>
    }

</div>