<h6 class="mb-3 text-center">VALORES</h6>
<hr>
<input type="text" class="form form-control-sm w-100 mb-2" placeholder="Buscar..." [(ngModel)]="buscar" name="buscar">
<form [formGroup]="models">
    <div formArrayName="modelos">
        <table class="table text-center table-sm">
            <thead class="table-success fs-6">
                <tr>
                    <th>Item</th>
                    <th>Valor </th>
                    <th style="width: 50px;">Convenio </th>
                    <th>Acciones</th>
                </tr>

            </thead>
            <tbody>
                @if (modelosArray.controls.length!=0) {
                    @for (model of modelosArray.value; track $index) {
                        @if(model.valor.includes(buscar.toUpperCase())){
                            <tr [formGroupName]="$index" >
                                <td> <label class="mt-2">{{model.id}}</label>  </td>
                                <td> <input class="form-control form-control-sm" formControlName="valor"> </td>
                         
                               
                                <td>
                                    <select class="form-select form-select-sm" formControlName="idConvenio">
                                        <option value="">SELECCIONAR</option>
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                
                                </td>
                                <td>
                                    <div class="btn-group">
            
                                        @if(model.id!=0){
                                            <img class="iconEdit" src="assets/editar.png"  (click)="editModel($index)">
                                            <img class="iconEliminar" src="assets/eliminar.png"  (click)="delete($index)">
                                        @if(modelosArray.controls.length==$index+1){
                                            <img class="iconNuevo" src="assets/nuevo.png"  (click)="add()">
                                        }
                                        }@else{
                                            <img class="iconNuevo" src="assets/nuevo.png"  (click)="save($index)">
                                        }
                                    </div>
            
            
            
                                </td>
                            </tr>
                        }
                        
                       
                    }
                    
                   
                }

            </tbody>
        </table>
    </div>

</form>

<app-black-loading [show]="showLoading"></app-black-loading>