<div class="row">
    <div class="col-md-12">
        <form [formGroup]="models">
            <div formArrayName="modelos">
                <table class="table text-center table-sm table-bordered">
                    <thead class="table-success fs-6">
                        <tr>
                            <th>Id</th>

                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Categorias</th>

                            <th>Acciones</th>
                        </tr>

                    </thead>
                    <tbody>
                        @if (modelosArray.controls.length!=0) {
                        @for (model of modelosArray.controls; track $index) {
                        <tr [formGroupName]="$index" (click)="elegir($index)"
                            [ngClass]="{'selected-row': $index === selectIndex}">
                            <td> <label class="mt-2">{{model.get('id')?.value}}</label> </td>
                            <td>
                                {{model.get('nombre')?.value==''?model.get('categorias')?.value:model.get('nombre')?.value}}
                            </td>
                            <td>
                                {{model.get('categorias')?.value.includes(',')?'COMPUESTA':'SIMPLE'}}
                            </td>
                            <td>
                                {{model.get('categorias')?.value}}
                            </td>

                            <td>
                                <div class="btn-group">
               
                                       
                                        <img class="iconEdit" src="assets/editar.png"  (click)="editModel($index)" data-bs-toggle="modal" data-bs-target="#modalEditAgrupacion">
                                    @if(model.get('id')?.value!=0){
                                      
                                  
                                                <app-tooltip [tooltipText]="'Eliminar'" [imgSrc]="'assets/eliminar.png'" (clickEvent)="delete($index)"></app-tooltip>
                                               
                                        @if(modelosArray.controls.length==$index+1){
                                     

                                            <app-tooltip [tooltipText]="'Nuevo'" [imgSrc]="'assets/nuevo.png'" (clickEvent)="add()"></app-tooltip>
                                        }
                                    }@else{
                                  
                                    }
                                </div>



                            </td>
                        </tr>
                        }

                        }

                    </tbody>
                </table>
            </div>

        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
    </div>
</div>


<div class="modal fade" id="modalEditAgrupacion" tabindex="-1" aria-labelledby="modalEditAgrupacionLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditAgrupacionLabel">Agrupacion de Categoria</h1>
                <button type="button" id="modalAgrupaciones" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="nombreAgrupacionCategoria" placeholder="Nombre Agrupacion">

                          </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="input-group">
                            <select class="form-select" id="modalCategoriaAgrupacion" (change)="comboEligeCategoriaAgrupacion($event)"
                                aria-label="Example select with button addon">
                                <option selected>Seleccinar</option>
                                @for (categoria of categoriasAgrupacionTotal; track $index) {
                                <option value={{categoria.id}}>{{categoria.descripcion}}</option>
                                }
                            </select>
                            <button class="btn btn-primary" type="button" (click)="agregarCategoriaAgrupacion()"> <i class="bi bi-plus-lg"></i> Agregar</button>
                        </div>
                    </div>
                </div>
                <table class="table table-sm mt-4 table-bordered">
                    <thead>
                        <tr class="table-success">
                            <th>Id</th>
                            <th>Categoria</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (categoria of categoriasAgrupacion ; track $index) {
                            <tr>
                                <td>{{categoria.id}}</td>
                                <td>{{categoria.descripcion}}</td>
                                <td>
                                    <button class="btn btn-sm btn-danger" (click)="quitarCategoria(categoria.id)"> <i class="bi bi-trash"></i> </button>
                                </td>
                            </tr>
                        }@empty {
                            <tr>
                                No hay categorias agregadas...
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" #botonCerrarModalAgrupacion data-bs-dismiss="modal" id="cerrarModalAgrupacion">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarCategoriaAgrupacion()"> <i class="bi bi-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>





<app-black-loading [show]="showLoading"></app-black-loading>