<div class="row">
    <div class="col-md-12"> 
        <input type="text" class="form form-control-sm w-100 mb-2" placeholder="Buscar..." [(ngModel)]="buscar" name="buscar">
        <form [formGroup]="models">
            <div formArrayName="modelos">
               
                
                <table class="table text-center table-sm">
                    <thead class="table-success fs-6">
                        <tr>
                            <th>Item</th>
                            <th>Descripcion</th>
                            <th>Tipo Unidad</th>
                            <th>Creacion</th>
                            <th>Modificacion</th>
                            <th>Acción</th>
                        </tr>

                    </thead>
                    <tbody>
                        @if (modelosArray.controls.length!=0) {
                        @for (model of modelosArray.value; track $index) {
                            @if(model.descripcion.includes(buscar.toUpperCase())){
                                <tr [formGroupName]="$index" (click)="selectAtributo($index)">
                                    <td> <label class="mt-2">{{model.id}}</label> </td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" formControlName="descripcion">
                                    </td>
        
                                    <td>
                                        <select class="form-select form-select-sm" formControlName="solicitarUnidad">
                                            <option value="0">NO</option>
                                            <option value="1">SI</option>
        
        
                                        </select>
                                    </td>
                                    <td>
                                        {{model.fechaRegistro}}
                                    </td>
                                    <td>
                                        {{model.fechaModificacion}}
                                    </td>
                                    <td>
                                        <div class="btn-group">
        
                                            @if(model.id!=0){
                                            <button class="btn btn-sm btn-info btn-sm" (click)="editModel($index)"><i
                                                    class="bi bi-pencil"></i></button>
                                            <button class="btn btn-sm btn-danger btn-sm" (click)="delete($index)"><i
                                                    class="bi bi-trash-fill"></i></button>
                                            @if(modelosArray.controls.length==$index+1){
                                            <button class="btn btn-sm btn-primary btn-sm" (click)="add()"><i
                                                    class="bi bi-plus-lg"></i></button>
                                            }
                                            }@else{
                                            <button class="btn btn-sm btn-success btn-sm" (click)="save($index)"><i
                                                    class="bi bi-save2"></i></button>
                                            }
                                        </div>
        
        
        
                                    </td>
                                </tr>
                            }
                        }

                        }

                    </tbody>
                </table>
            </div>

        </form>
    </div>
    <div class="col-md-1"></div>

</div>