<h5 class="text-center">TIPO INFORME - INDICADORES</h5>

<div class="row">
  <div class="col-md-4">
    <h6 class="mb-4 text-center">INFORMACIÓN</h6>
    <hr>
    <app-tipo-informe-orden-form #tipoInformeOrdenForm (updateModelsEmit)="get()" [model]="modelEdit"></app-tipo-informe-orden-form>
  </div>
  <div class="col-md-8">
    <h6 class="mb-3 text-center">INDICADORES REGISTRADOS</h6>
    <hr>
    <app-tipo-informe-orden-list [models]="models" (updateModelsEmit)="get()" (editEmit)="editModel($event)"></app-tipo-informe-orden-list>
  </div>
</div>


<br>

