<h6 class="mb-3 text-center">INFORMACION DE LA ZONA</h6>
<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="submit()" autocomplete="off" [formGroup]="myForm">

            <div class="mb-3 row">
                <label for="id" class="col-md-4 col-form-label-sm">Id</label>
                <div class="col-sm-8">
                    <label for="">{{myForm.get('id')?.value}}</label>
           
                </div>
            </div>

            <div class="mb-3 row">
                <label for="idTipoZona" class="col-md-4 col-form-label-sm">Tipo de Zona</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm" formControlName="idTipoZona">
                        <option value="0">SELECCIONAR</option>
                        <option *ngFor="let tipoZona of listTipoZona" [value]="tipoZona.id">
                            {{tipoZona.descripcion}}
                        </option>
                    </select>

                </div>
                <span *ngIf="isValidField('idTipoZona')" class="form-text text-danger">
                    {{ getFieldError('idTipoZona') }}
                </span>
            </div>
            
            <div class="mb-3 row">
                <label for="descripcion" class="col-md-4 col-form-label-sm">Descripcion</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="descripcion" name="descripcion"
                        formControlName="descripcion" id="descripcion" />
                </div>
                <span *ngIf="isValidField('descripcion')" class="form-text text-danger">
                    {{ getFieldError('descripcion') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="numeroOrden" class="col-md-4 col-form-label-sm">Numero Orden</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="numeroOrden" name="numeroOrden"
                        formControlName="numeroOrden" id="numeroOrden" />
                </div>
                <span *ngIf="isValidField('numeroOrden')" class="form-text text-danger">
                    {{ getFieldError('numeroOrden') }}
                </span>
            </div>

            
                <div class="mb-3 row">
                    <label for="planificadorRuta" class="col-md-4 col-form-label-sm">Planificador Ruta</label>
                    <div class="col-sm-8">
                        <select class="form-select-sm form-select" formControlName="planificadorRuta">
                            <option value="">SELECCIONAR</option>
                            @if(currentModel.idTipoZona!=2){
                                <option value="1">SI</option>
                            }
                            <option value="0">NO</option>
                        </select>
                    </div>
                    <span *ngIf="isValidField('planificadorRuta')" class="form-text text-danger">
                        {{ getFieldError('planificadorRuta') }}
                    </span>
                </div>
            

            @if(currentModel.planificadorRuta.toString()=="0"){
                <div class="mb-3 row">
                    <label for="idZona" class="col-md-4 col-form-label-sm">Zona Principal</label>
                    <div class="col-sm-8">
                    
    
                        <div class="input-group mb-3">
                            <input type="text" readonly class="form-control form-control-sm" [value]="zonaElegida.descripcion">
                            <button class="btn btn-sm btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-search"></i></button>
                        </div>
    
                       
                    </div>
                    <span *ngIf="isValidField('idZona')" class="form-text text-danger">
                        {{ getFieldError('idZona') }}
                    </span>
                </div>
            }


            <div class="mb-3 row">
                <label for="alias1" class="col-md-4 col-form-label-sm">Alias</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="alias1" name="alias1"
                        formControlName="alias1" id="alias1" />
                </div>
                <span *ngIf="isValidField('alias1')" class="form-text text-danger">
                    {{ getFieldError('alias1') }}
                </span>
            </div>

        

            <div class="input-group mt-3">
                <button class="btn btn-sm btn-success btn-sm text-white " type="submit" *ngIf="!currentModel.id">
                    <i class="bi bi-box-arrow-down"></i> Guardar
                </button>
                <button class="btn btn-sm btn-warning btn-sm text-white " (click)="nuevo()" type="button"
                    *ngIf="currentModel.id">
                    <i class="bi bi-plus-lg"></i> Nuevo
                </button>
                <button class="btn btn-sm btn-info btn-sm text-white " type="submit" *ngIf="currentModel.id">
                    <i class="bi bi-pencil"></i> Guardar
                </button>

            </div>

        </form>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Buscar Zona Principal</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sm"  [(ngModel)]="textBusquedaZona"/>
                <button class="btn btn-sm btn-info" type="button" (click)="buscarZona()"><i class="bi bi-search"></i></button>
            </div>

            <table class="table table-sm table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Descripcion</th>
                    </tr>

                </thead>
                <tbody>
                    @for (zona of listaResultadosBusqueda; track $index) {
                        <tr (click)="zonaElegida = zona;this.selectIndex=$index"  [ngClass]="{'selected-row': $index === selectIndex}">
                            <td>{{zona.id}}</td>
                            <td>{{zona.descripcion}}</td>
                        </tr>
                    }@empty {
                        <tr>
                            <td colspan="2">No hay resultados...</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="elegirZona()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>