
<div class="row mt-4">
  <div class="col-md-9">
    <h6 class="mb-3 text-center">INFORMACION DEL SKU</h6>
    <hr>
    <app-sku-form #skuForm [idCategoria]="idCategoria" (updateModelsEmit)="get(modelEdit.idCategoria)" [model]="modelEdit" (editEmit)="editModel($event)" ></app-sku-form>
  </div>
  <div class="col-md-3">
    <div class="col-md-6">
      <div class="list-group mt-3">
        <button type="button" class="list-group-item list-group-item-action" [class.active]="botonActivo === 'skus'"
          (click)="mostrarContenido('skus')">Skus registrados</button>

        @if(idSku!=0){
          <button type="button" class="list-group-item list-group-item-action" [class.active]="botonActivo === 'atributos'"
            (click)="mostrarContenido('atributos')">Atributos técnicos</button>
          <button type="button" class="list-group-item list-group-item-action" [class.active]="botonActivo === 'unidadesVenta'"
            (click)="mostrarContenido('unidadesVenta')">Unidades de venta</button> 
        }
        <!-- -->

      </div>
    </div>

  </div>
</div>


<br>

<hr>
<div class="row">
  <div class="col-md-12">
    @if(contenidoVisible === 'atributos'){
      <app-sku-atributos [modelSku]="modelEdit"></app-sku-atributos>
    }@else if (contenidoVisible === 'unidadesVenta') {
      <app-sku-unidades-venta [modelSku]="modelEdit"></app-sku-unidades-venta>
    }@else {
      <h6 class="mb-3 text-center">SKUS REGISTRADAS</h6>
      <hr>
      <app-sku-list [models]="models" [idCategoria]="idCategoria" (updateModelsEmit)="get(modelEdit.idCategoria)" (editEmit)="editModel($event)"></app-sku-list>
    
    }
  
</div>