

<form [formGroup]="model" autocomplete="off">
    <div class="row">
        <div class="col-12">

            <div class="mb-3 row">
                <label class="col-md-5 col-form-label-sm">Código</label>
                <div class="col-sm-7">
                    <div class="input-group input-group-sm"><span>{{getModel.id}}</span></div>
                </div>
               
            </div>

            <div class="mb-3 row">
                <label for="razonSocial" class="col-md-5 col-form-label-sm">Razon Social</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder=""
                        name="razonSocial" formControlName="razonSocial" id="razonSocial" />
                </div>
                <span *ngIf="isValidField('razonSocial')" class="form-text text-danger">
                    {{ getFieldError('razonSocial') }}
                </span>
            </div>

           

            <div class="mb-3 row">
                <label for="ruc" class="col-md-5 col-form-label-sm">Numero de RUC</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" name="ruc"
                        formControlName="ruc" id="ruc" maxlength="11"/>
                </div>
                <span *ngIf="isValidField('ruc')" class="form-text text-danger">
                    {{ getFieldError('ruc') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="razonSocialCorporativa" class="col-md-5 col-form-label-sm">Razon Social
                    Corporativa</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder=""
                        name="razonSocialCorporativa" formControlName="razonSocialCorporativa"
                        id="razonSocialCorporativa" />
                </div>
                <span *ngIf="isValidField('razonSocialCorporativa')" class="form-text text-danger">
                    {{ getFieldError('razonSocialCorporativa') }}
                </span>
            </div>


            <div class="mb-3 row">
                <label for="idCategorizacionCliente" class="col-md-5 col-form-label-sm">Categorizacion
                    cliente</label>
                <div class="col-sm-7">
                    <select class="form-select form-select-sm" formControlName="idCategorizacionCliente" id="idCategorizacionCliente" name="idCategorizacionCliente">
                        <option value="0">SELECCIONAR</option>
                        <option value="1">A</option>
                        <option value="2">AA</option>
                        <option value="3">AAA</option>
                    </select>
                   
                </div>
                <span *ngIf="isValidField('idCategorizacionCliente')" class="form-text text-danger">
                    {{ getFieldError('idCategorizacionCliente') }}
                </span>
            </div>


            <div class="mb-3 row">
                <label for="web" class="col-md-5 col-form-label-sm">Pagina web </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" name="web"
                        formControlName="web" id="web" />
                </div>
                <span *ngIf="isValidField('web')" class="form-text text-danger">
                    {{ getFieldError('web') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="mesCierre" class="col-md-5 col-form-label-sm">Mes Cierre </label>
                <div class="col-sm-7">
                    <select name="mesCierre" formControlName="mesCierre" id="mesCierre"
                        class="form-select form-select-sm">
                        <option value="0">SELECCIONAR</option>
                        <option value="1">ENERO</option>
                        <option value="2">FEBRERO</option>
                        <option value="3">MARZO</option>
                        <option value="4">ABRIL</option>
                        <option value="5">MAYO</option>
                        <option value="6">JUNIO</option>
                        <option value="7">JULIO</option>
                        <option value="8">AGOSTO</option>
                        <option value="9">SEPTIEMBRE</option>
                        <option value="10">OCTUBRE</option>
                        <option value="11">NOVIEMBRE</option>
                        <option value="12">DICIEMBRE</option>
                    </select>

                </div>
                <span *ngIf="isValidField('mesCierre')" class="form-text text-danger">
                    {{ getFieldError('mesCierre') }}
                </span>
            </div>

            

            @if(!getModel.id){
                <button class="btn btn-sm btn-success" (click)="agregar()"><i class="bi bi-box-arrow-down"></i> Guardar</button>
            }@else{
                <button class="btn btn-sm btn-success" (click)="editar()"><i class="bi bi-box-arrow-down"></i> Guardar</button>
                <button class="btn btn-sm btn-warning" (click)="nuevo()"><i class="bi bi-plus"></i> Nuevo</button>
            }

            <!-- <app-add-tipo-cambio [model]="getModel" (actualizarList)="actualizarList()"></app-add-tipo-cambio> -->
        </div>
    </div>


</form>