

<form [formGroup]="model" autocomplete="off">
    <div class="row">
        <div class="col-12">

            <div class="mb-3 row">
                <label class="col-md-5 col-form-label-sm">Código</label>
                <div class="col-sm-7">
                    <div class="input-group input-group-sm"><span>{{getModel.id}}</span></div>
                </div>
               
            </div>



            <div class="mb-3 row">
                <label for="razonSocial" class="col-md-5 col-form-label-sm">Razon Social</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder=""
                        name="razonSocial" formControlName="razonSocial" id="razonSocial" />
                </div>
                <span *ngIf="isValidField('razonSocial')" class="form-text text-danger">
                    {{ getFieldError('razonSocial') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="razonSocialAbreviada" class="col-md-5 col-form-label-sm">Razon Social
                    Abreviada</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder=""
                        name="razonSocialAbreviada" formControlName="razonSocialAbreviada"
                        id="razonSocialAbreviada" />
                </div>
                <span *ngIf="isValidField('razonSocialAbreviada')" class="form-text text-danger">
                    {{ getFieldError('razonSocialAbreviada') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="razonSocialTip" class="col-md-5 col-form-label-sm">Razon Social Tip</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder=""
                        name="razonSocialTip" formControlName="razonSocialTip" id="razonSocialTip" />
                </div>
                <span *ngIf="isValidField('razonSocialTip')" class="form-text text-danger">
                    {{ getFieldError('razonSocialTip') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="ruc" class="col-md-5 col-form-label-sm">Numero de RUC</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" name="ruc"
                        formControlName="ruc" id="ruc" />
                </div>
                <span *ngIf="isValidField('ruc')" class="form-text text-danger">
                    {{ getFieldError('ruc') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="razonSocialCorporativa" class="col-md-5 col-form-label-sm">Razon Social
                    Corporativa</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder=""
                        name="razonSocialCorporativa" formControlName="razonSocialCorporativa"
                        id="razonSocialCorporativa" />
                </div>
                <span *ngIf="isValidField('razonSocialCorporativa')" class="form-text text-danger">
                    {{ getFieldError('razonSocialCorporativa') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="codigoRubro" class="col-md-5 col-form-label-sm">Codigo Rubro</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder=""
                        name="codigoRubro" formControlName="codigoRubro" id="codigoRubro" />
                </div>
                <span *ngIf="isValidField('codigoRubro')" class="form-text text-danger">
                    {{ getFieldError('codigoRubro') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="idCategorizacionCliente" class="col-md-5 col-form-label-sm">Categorizacion
                    cliente</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm"
                        placeholder="" name="idCategorizacionCliente"
                        formControlName="idCategorizacionCliente" id="idCategorizacionCliente" />
                </div>
                <span *ngIf="isValidField('idCategorizacionCliente')" class="form-text text-danger">
                    {{ getFieldError('idCategorizacionCliente') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="aniversario" class="col-md-5 col-form-label-sm">Aniversario cliente</label>
                <div class="col-sm-7">
                    <input type="date" class="form-control form-control-sm" placeholder=""
                        name="aniversario" formControlName="aniversario" id="aniversario" />
                </div>
                <span *ngIf="isValidField('aniversario')" class="form-text text-danger">
                    {{ getFieldError('aniversario') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="web" class="col-md-5 col-form-label-sm">Pagina web </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" name="web"
                        formControlName="web" id="web" />
                </div>
                <span *ngIf="isValidField('web')" class="form-text text-danger">
                    {{ getFieldError('web') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="mesCierre" class="col-md-5 col-form-label-sm">Mes Cierre </label>
                <div class="col-sm-7">
                    <select name="mesCierre" formControlName="mesCierre" id="mesCierre"
                        class="form-select form-select-sm">
                        <option value="0">SELECCIONAR</option>
                        <option value="1">ENERO</option>
                        <option value="2">FEBRERO</option>
                        <option value="3">MARZO</option>
                        <option value="4">ABRIL</option>
                        <option value="5">MAYO</option>
                        <option value="6">JUNIO</option>
                        <option value="7">JULIO</option>
                        <option value="8">AGOSTO</option>
                        <option value="9">SEPTIEMBRE</option>
                        <option value="10">OCTUBRE</option>
                        <option value="11">NOVIEMBRE</option>
                        <option value="12">DICIEMBRE</option>
                    </select>

                </div>
                <span *ngIf="isValidField('mesCierre')" class="form-text text-danger">
                    {{ getFieldError('mesCierre') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="alias1" class="col-md-5 col-form-label-sm">Alias 1 </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" name="alias1"
                        formControlName="alias1" id="alias1" />
                </div>
                <span *ngIf="isValidField('alias1')" class="form-text text-danger">
                    {{ getFieldError('alias1') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="alias2" class="col-md-5 col-form-label-sm">Alias 2 </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" name="alias2"
                        formControlName="alias2" id="alias2" />
                </div>
                <span *ngIf="isValidField('alias2')" class="form-text text-danger">
                    {{ getFieldError('alias2') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="alias3" class="col-md-5 col-form-label-sm">Alias 3 </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" name="alias3"
                        formControlName="alias3" id="alias3" />
                </div>
                <span *ngIf="isValidField('alias3')" class="form-text text-danger">
                    {{ getFieldError('alias3') }}
                </span>
            </div>

            @if(!getModel.id){
                <button class="btn btn-sm btn-success" (click)="agregar()"><i class="bi bi-box-arrow-down"></i> Guardar</button>
            }@else{
                <button class="btn btn-sm btn-success" (click)="editar()"><i class="bi bi-box-arrow-down"></i> Guardar</button>
                <button class="btn btn-sm btn-warning" (click)="nuevo()"><i class="bi bi-plus"></i> Nuevo</button>
            }

            <!-- <app-add-tipo-cambio [model]="getModel" (actualizarList)="actualizarList()"></app-add-tipo-cambio> -->
        </div>
    </div>


</form>