<div class="row mt-12">
    <div class="col-md-6">
        <select class="form-select form-select-sm" (change)="changeAtributo($event)" [(ngModel)]="idAtributoTecnicoVariedad">
            <option value="0">SELECCIONAR</option>
            @for (atr of categoriaAtributoTecnicos; track $index) {
            <option [selected]="idAtributoTecnicoVariedad==atr.id?'selected':''" value={{atr.id}}>{{atr.AtributoTecnicoVariedad.descripcion + ' | ' + atr.Categoria.descripcion}}</option>
            }
        </select>
    </div>
    <div class="col-md-1">
        <button class="btn btn-sm btn-success" (click)="enviar()"><i class="bi bi-arrow-return-left"></i> Enviar</button>
    </div>
</div>

<div class="row mt-12">
    <div class="col-md-12">

        <div class="form-check">
            <input class="form-check-input" type="checkbox" (click)="checkAllFormula()">
            <label>
                Seleccionar Todos
            </label>
        </div>

        <hr>

        @for (atr of categoriaAtributoTecnicoValors; track $index) {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" 
                       [value]="atr.id" 
                       (change)="onCheckboxChange(atr.idAtributoTecnicoVariedadValor, $event)"
                       [checked]="checkboxSeleccionados.indexOf(atr.idAtributoTecnicoVariedadValor)!=-1?true:false"
                       >
                <label class="form-check-label">
                    {{ atr.AtributoTecnicoVariedadValor.valor }}
                </label>
        </div>
        }   



    </div>
</div>