
<h4 class="text-center">{{title}}</h4>

<div class="row">
  <div class="col-md-9">
    <h6 class="mb-3 text-center">LISTADO</h6>
    <hr>
    <form [formGroup]="models">
      <div formArrayName="modelos">
        <table class="table text-center table-sm">
            <thead class="table-success fs-6">
                <tr>
                    <th>Item</th>
                    <th>Tipo  </th>
                    <th>Tipo Z Grupo</th>
                    <th>Descripcion </th>
                    <th>Tip </th>
                    <th>Estatus</th>
                    <th>Modificacion</th>
                    <th>Usuario</th>
                    <th>Acción</th>
                </tr>
  
            </thead>
            <tbody>
                @if (modelosArray.controls.length!=0) {
                  @for (model of modelosArray.controls; track $index) {
                    <tr [formGroupName]="$index" (click)="selectAtributo($index)" [ngClass]="{'selected-row': $index === selectedRowIndex}"  >
                      <td> <label class="mt-2">{{model.get('id')?.value}}</label>  </td>

                      <td>
                        <select class="form-select form-select-sm" formControlName="idTipoAgrupacion1">
                            <option value="0">SELECCIONAR</option>
                            <option value="1">SIMPLE</option>
                            <option value="2">COMPUESTA</option>
                        </select>
                      </td>

                      <td>
                        <select class="form-select form-select-sm" formControlName="idTipoAgrupacion2">
                            <option value="0">SELECCIONAR</option>
                            <option value="1">CORPORATIVA</option>
                            <option value="2">EXCLUSIVA</option>
                        </select>
                      </td>

                      <td> <input class="form-control form-control-sm" formControlName="descripcion"> </td>

                      <td> <input class="form-control form-control-sm" formControlName="tip"> </td>

                      <td>

                        @if(model.get('estado')?.value=='1'){
                          <span class="badge text-bg-success">ACTIVO</span>
                        }@else {
                          <span class="badge text-bg-warning">SUSPENDIDO</span>
                        }

                      </td>
                      <td> {{model.get('fechaModificacion')?.value?.substring(0,10)}} </td>
  
                     
                      <td></td>
                     
                     
                      
                      
                      <td class="text-start">
                          <div class="btn-group ">
  
                              @if(model.get('id')?.value!=0){
                              <button class="btn btn-sm btn-info btn-sm" (click)="editModel($index)"><i
                                      class="bi bi-pencil"></i></button>
                              <button class="btn btn-sm btn-danger btn-sm" (click)="delete($index)"><i class="bi bi-trash-fill"></i></button>
                              @if(modelosArray.controls.length==$index+1){
                              <button class="btn btn-sm btn-primary btn-sm" (click)="add()"><i
                                      class="bi bi-plus-lg"></i></button>
                              }
                              }@else{
                              <button class="btn btn-sm btn-success btn-sm" (click)="save($index)"><i
                                      class="bi bi-save2"></i></button>
                              }
                          </div>
  
  
  
                      </td>
                  </tr>
                  }
                   
                }
  
            </tbody>
        </table>
    </div>
    </form>


    <hr>

  </div>
  <div class="col-md-3">
    <h6 class="mb-3 text-center">DETALLE</h6>
    <hr>
    <app-agrupacion-zonas-detalle [agrupacionZonas]="getModel"></app-agrupacion-zonas-detalle>
  </div>
</div>


<br>

<app-black-loading [show]="showLoading"></app-black-loading>