@if (loading) {
    <app-div-cargando></app-div-cargando>
}@else {
    @if(models.length>0){
        <table class="table table-sm table-bordered">
            <thead class="table-success">
                <tr>
                    <!-- <th>#</th> -->
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Unidad de medida</th>
                    <th>Fecha Modificacion</th>
                    <!-- <th>Resumidas</th> -->
                    <th>Accion</th>
                </tr>
            </thead>
        
            <tbody>
                
                @for (model of models; track $index) {
                    <tr class="fs-6" (click)="selectEdit(model,$index)" [ngClass]="{'selected-row': $index === selectedRowIndex}"  >
                        <!-- <td>{{$index+1}}</td> -->
                        <td>{{model.id}}</td>
                        <td>{{model.descripcion}}</td>
                        <td>{{model.solicitarUnidad==1?"SI":"NO"}}</td>
                        <td>{{model.fechaModificacion}}</td>
                        <!-- <td>{{model.descripcionResumida}}</td> -->
                        <td> 
                           
                            <img class="iconEdit" src="assets/editar.png"  (click)="selectEdit(model,$index)">
                            <img class="iconEliminar" src="assets/eliminar.png"  (click)="delete(model)">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }@else {
        <span>No se encontraron resultados</span>
    }
}

<app-black-loading [show]="showLoading"></app-black-loading>
