<div class="row">
    <div class="col-md-12">
        <h6 class="mb-3 text-center">ATRIBUTOS TECNICOS</h6>

        <form [formGroup]="models">
            <div formArrayName="modelos">
                <table class="table text-center table-sm">
                    <thead class="table-success fs-6">
                        <tr>
                            <th>Item</th>
                            <th>Atributo </th>
                            <th>Valor </th>
                            <th>Tipo Medida </th>
                            <th>Unidad Medida </th>
                            <!-- <th>Comentario </th>
                            <th>Alias 1 </th>
                            <th>Alias 2 </th> -->
                            <th>Modificación</th>
                            <th><button class="btn btn-sm btn-primary" (click)="guardarTodo()"><i class="bi bi-box-arrow-down"></i> Guardar Atributos</button> </th>
                        </tr>

                    </thead>
                    <tbody>
                        @if (modelosArray.controls.length!=0) {
                        @for (model of modelosArray.controls; track $index) {
                        <tr [formGroupName]="$index">
                            <td> <label class="mt-2">{{model.get('id')?.value}}</label> </td>
                            <td>
                                {{getAtributos(model.get('idAtributoTecnicoVariedad')?.value)}}
                            </td>

                            <td>
                                @if(getAtributosValor(model.get('idAtributoTecnicoVariedad')?.value).length==0){
                                <input type="text" class="form form-control form-control-sm" formControlName="valor">
                                }@else{
                                <select class="form-select form-select-sm"
                                    formControlName="idAtributoTecnicoVariedadValor">
                                    <option value="0">SELECCIONAR</option>
                                    @for (valor of getAtributosValor(model.get('idAtributoTecnicoVariedad')?.value);
                                    track $index) {
                                    <option value={{valor.idAtributoTecnicoVariedadValor}}>
                                        {{valor.AtributoTecnicoVariedadValor.valor}}</option>
                                    }
                                </select>
                                }



                            </td>

                            <td>
                                @if(model.get('solicitarUnidad')?.value!=0){

                                <select class="form-select form-select-sm" formControlName="idTipoUnidadMedida">
                                    <option value="0">SELECCIONAR</option>
                                    @for (tipo of tipoUnidadMedidas; track $index) {
                                    <option value={{tipo.id}}>{{tipo.descripcion}}</option>
                                    }
                                </select>
                                }
                            </td>


                            <td>
                                @if(model.get('solicitarUnidad')?.value!=0){

                                <select class="form-select form-select-sm" formControlName="idUnidadMedida">
                                    <option value="0">SELECCIONAR</option>
                                    @for (unidad of unidadMedidas; track $index) {
                                    <option value={{unidad.id}}>{{unidad.descripcion}}</option>
                                    }
                                </select>

                                }
                            </td>

                            <!-- <td> <input class="form-control form-control-sm" formControlName="comentario"> </td>
                            <td> <input class="form-control form-control-sm" formControlName="alias1"> </td>
                            <td> <input class="form-control form-control-sm" formControlName="alias2"> </td> -->
                            <td> <input readonly class="form-control form-control-sm" formControlName="fechaModificacion"> </td>

                            <td>
                                <div class="btn-group">

                                    @if(model.get('id')?.value!=0){
                                    <!-- <button class="btn btn-sm btn-info btn-sm" (click)="editModel($index)"><i
                                            class="bi bi-pencil"></i></button>
                                    <button class="btn btn-sm btn-danger btn-sm" (click)="delete($index)"><i
                                            class="bi bi-trash-fill"></i></button> -->


                                        <img class="iconEdit" src="assets/editar.png" (click)="editModel($index)">

                                        <img class="iconEliminar" src="assets/eliminar.png" (click)="delete($index)">


                                    @if(modelosArray.controls.length==$index+1){
                                    
                                    }
                                    }@else{
                                        <img class="iconGuardar" src="assets/guardar.png" (click)="save($index)">

                                    
                                    }
                                </div>



                            </td>
                        </tr>
                        }

                        }

                    </tbody>
                </table>
            </div>

        </form>
    </div>

</div>







<app-black-loading [show]="showLoading"></app-black-loading>