<table class="table table-bordered table-sm">
    <thead class="text-center">
        <tr>
            <td colspan="12">SKU - ATRIBUTOS TECNICOS CON SUS VALORES</td>
        </tr>
        <tr>
            <td colspan="2">Atributo tecnico</td>
            <td rowspan="2">Nº item</td>
            <td rowspan="2">Valor del atributo tecnico</td>
            <td colspan="2">Tipo y unidad de medida</td>
            <td rowspan="2">Comentarios sobre el valor del atributo</td>
            <td rowspan="2">Alias 1</td>
            <td rowspan="2">Alias 2</td>
            <td rowspan="2">Alias 3</td>
            <td colspan="2">Status del registro</td>
        </tr>
        <tr>
            <td>Codigo</td>
            <td>Descripcion</td>
            <td>Tipo</td>
            <td>Unidad de medida</td>
            <td>Status</td>
            <td>Fecha</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
    </tbody>
</table>
