<h3 class="mt-3">{{title}}</h3>

<app-pais-form (submitEmit)="add($event)"></app-pais-form>

<br>

<app-pais-list [models]="models" (deleteEmit)="delete($event)" (editEmit)="editModel($event)"></app-pais-list>


<div class="modal" style="display: block;" tabindex="-1" *ngIf="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edición</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal=false"></button>
        </div>
        <div class="modal-body">
            <input
            type="text"
            class="form-control"
            placeholder="Descripcion"
              name="descripcionEdit"
            [(ngModel)]="modelEdit.descripcion"
          />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal=false">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="update(modelEdit)">Actualizar</button>
        </div>
      </div>
    </div>
</div>

<app-black-loading [show]="showLoading"></app-black-loading>
