<div class="row" style="overflow-y:auto ;height: 400px;">
    <div class="col-md-12">

        <input type="text" [(ngModel)]="searchText" class="form-control mb-3" placeholder="Buscar...">

        <br>
        <button class="btn btn-sm btn-info" (click)="exportExcel()">Excel</button>
        @if (showLoading) {
        <!-- <app-div-cargando></app-div-cargando> -->

        } @else {
        <table datatable class="table table-sm table-bordered row-border hover">
            <thead class="table-success">
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Creación</th>
                    <th>Modificación</th>
                    <th>Medición</th>
                    <th> Acción</th>
                </tr>
            </thead>

            


            <tbody>
                @for (model of filteredModels(); track $index) {
                <tr (click)="eligeModel(model,$index)"   [ngClass]="{'selected-row': $index === selectIndex}">
                    <td>{{model.id}}</td>
                    <td>{{model.descripcion}}</td>

                    <td>
                        @if(model.estado==1){
                            <span class="badge rounded-pill text-bg-success">ACTIVO</span>
                        }@else if(model.estado==2){
                            <span class="badge rounded-pill text-bg-danger">SUSPENDIDO</span>
                        }@else {
                            <span class="badge rounded-pill text-bg-danger">ELIMINADO</span>
                        }
                    </td>
                    <td>
                        {{(model.fechaRegistro||'').toString().substring(0,19)}}
                    </td>
                    <td>
                        {{(model.fechaModificacion||'').toString().substring(0,19)}}
                    </td>
                    <td>{{model.medicion}}</td>
                    <td>
                       
                        <app-tooltip [tooltipText]="'Editar'" [imgSrc]="'assets/editar.png'" (clickEvent)="editModel(model)"></app-tooltip>
                                                

                        @if(model.estado==1){
                            <span class="badge text-bg-danger" (click)="suspender(model)">Suspender</span>
                        }@else {
                            <span class="badge text-bg-success" (click)="suspender(model)">Activar</span>
                        }

                    
                        <app-tooltip [tooltipText]="'Eliminar'" [imgSrc]="'assets/eliminar.png'" (clickEvent)="delete(model)"></app-tooltip>
                    </td>
                </tr>
                }@empty {
                <tr>
                    <td colspan="10">
                        No se encontraron resultados...
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }

    </div>
</div>