<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descripcion</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let model of models">
                    <td>{{model.id}}</td>
                    <td>{{model.descripcion}}</td>
                    <td>
                        <button class="btn btn-danger" type="button" (click)="delete(model)"><i class="bi bi-trash"></i></button>
                        <button class="btn btn-info" type="button" (click)="editModel(model)"><i class="bi bi-pencil"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


  