<table class="table table-sm table-bordered">
    <thead class="table-success">

        <tr class="">
            <th>Cod.</th>
         
            <th>Tipo</th>
            <th>Unidad</th>
            <th>Factor</th>
       
        </tr>
    </thead>
    <tbody>
        @for (skuAtributoTecnicoVariedadValor of skuAtributoTecnicoVariedadValors; track $index) {
            @if (skuAtributoTecnicoVariedadValor.idTipoUnidadMedida!=0) {
                <tr>
                    <td>{{skuAtributoTecnicoVariedadValor.id}}</td>
                    <td>{{skuAtributoTecnicoVariedadValor.TipoUnidadMedida.descripcion}}</td>
                    <td>{{skuAtributoTecnicoVariedadValor.UnidadMedida.descripcion}}</td>
                    <td>{{skuAtributoTecnicoVariedadValor.valor}}</td>
                </tr>
            }
        }@empty {
            <tr>
                No se encontraron valores...
            </tr>
        }
    </tbody>
</table>
