<table class="table table-bordered table-sm">
    <thead class="text-center">
        <tr>
            <td colspan="12">UNIDAD DE VENTA DEL SKU (FACTORES DE CONVERSION)</td>
        </tr>
        <tr>
            <td rowspan="2">Nº item</td>
            <td colspan="2">Unidad de venta</td>
            <td rowspan="2">Por def.</td>
            <td colspan="3">Factor de conversion de unidad de venta</td>
            <td colspan="2">Status del registro</td>

        </tr>
        <tr>
            <td>Cod.</td>
            <td>Descripcion</td>
            <td>Tipo</td>
            <td>Unidad</td>
            <td>Factor</td>
            <td>Status</td>
            <td>Fecha</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>


        </tr>
    </tbody>
</table>
