<h4 class="text-center">{{title}}</h4>

<div class="row">
  <div class="col-md-6">
    <h6 class="mb-3 text-center">INFORMACION DE LA MEGACATEGORIA</h6>
    <hr>
    <app-mega-categoria-form #megaCategoriaForm (updateModelsEmit)="get($event)" (changeCodigoEmit)="get($event)"
      [model]="modelEdit"></app-mega-categoria-form>
  </div>
  <div class="col-md-6">
    <h6 class="mb-3 text-center">MEGACATEGORIAS REGISTRADAS</h6>
    <hr>
    <app-mega-categoria-list (eligeModelEmit)="eligeModel($event)" #megaCategoriaList [models]="models" (updateModelsEmit)="get($event)"
      (editEmit)="editModel($event)"></app-mega-categoria-list>
  </div>
</div>


<br>