<h6>ATRIBUTOS TECNICOS DE LA CATEGORIA</h6>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <td colspan="2">Atributo Tecnico</td>
            <td rowspan="2">Comentario</td>
            <td rowspan="2">Tipo unidad de medida</td>
            <td rowspan="2">Nº orden SKU</td>
            <td rowspan="2">Ind. Ver. Subordinado</td>
            <td colspan="2">Status del registro</td>
        </tr>
        <tr>
            <td>Codigo</td>
            <td>Descripcion</td>
            <td>Status</td>
            <td>Fecha</td>
        </tr>
    </thead>
    <tbody>
        @for (model of models; track $index) {
            <tr>
                <td>{{model.AtributoTecnicoVariedad.codigo}}</td>
                <td>{{model.AtributoTecnicoVariedad.descripcion}}</td>
                <td>{{model.comentario}}</td>
                <td>{{model.idTipoUnidadMedida}}</td>
                <td>{{model.numOrdenSku}}</td>
                <td>{{model.indVerificado}}</td>
                <td>{{model.estado}}</td>
                <td>{{model.fechaRegistro}}</td>
                


            </tr>
        }
    </tbody>
</table>


<h6>VALORES DEL ATRIBUTO TECNICO</h6>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <td colspan="2">Valor de atributo tecnico</td>
            <td colspan="2">Status del registro</td>
        </tr>
        <tr>
            <td>Valor</td>
            <td>Comentario</td>
            <td>Status</td>
            <td>Fecha</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
    </tbody>
</table>