<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"  routerLink=""> <img class="mb-1" width="100px" src="http://campo.damer.pe:8081/damer2/assets/img/logo.png" alt="damer"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               
                <li class="nav-item"></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Mantenimiento
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" aria-current="page" routerLinkActive="parametro" routerLink="/mantenimiento/parametro">Parámetro</a></li>
                        <li><a class="dropdown-item" aria-current="negocio" routerLinkActive="negocio" routerLink="/mantenimiento/negocio">Negocio</a></li>
                        <li><a class="dropdown-item" aria-current="atributoTecnicoVariedad" routerLinkActive="/mantenimiento/atributoTecnicoVariedad" routerLink="/mantenimiento/atributoTecnicoVariedad">Atributo Variedad</a></li>
                        <li><a class="dropdown-item" aria-current="atributoTecnicoNegocio" routerLinkActive="/mantenimiento/atributoTecnicoNegocio" routerLink="/mantenimiento/atributoTecnicoNegocio">Atributo Negocio</a></li>
                        <li><a class="dropdown-item" aria-current="variable" routerLinkActive="/mantenimiento/variable" routerLink="/mantenimiento/variable">Variable</a></li>
                        <li><a class="dropdown-item" aria-current="cliente" routerLinkActive="/mantenimiento/cliente" routerLink="/mantenimiento/cliente">Cliente</a></li>
                        <li><a class="dropdown-item" aria-current="zona" routerLinkActive="zona" routerLink="/mantenimiento/zona">Zona</a></li>
                        <li><a class="dropdown-item" aria-current="agrupacionZonas" routerLinkActive="agrupacionZonas" routerLink="/mantenimiento/agrupacionZonas">Agrupación Zonas</a></li>
                        <li><a class="dropdown-item" aria-current="agrupacionCanales" routerLinkActive="agrupacionCanales" routerLink="/mantenimiento/agrupacionCanales">Agrupación Canales</a></li>
                        <li><a class="dropdown-item" aria-current="muestraIdeal" routerLinkActive="muestraIdeal" routerLink="/mantenimiento/muestraIdeal">Muestra Ideal</a></li>
                        <li><a class="dropdown-item" aria-current="universoNegocios" routerLinkActive="universoNegocios" routerLink="/mantenimiento/universoNegocios">Universo Negocios</a></li>
                        <li><a class="dropdown-item" aria-current="factorPenetracion" routerLinkActive="factorPenetracion" routerLink="/mantenimiento/factorPenetracion">Factor Penetración</a></li>
                        <li><a class="dropdown-item" aria-current="contrato" routerLinkActive="contrato" routerLink="/mantenimiento/contrato">Contrato</a></li>
                        <li><a class="dropdown-item" aria-current="medicion" routerLinkActive="medicion" routerLink="/mantenimiento/medicion">Medición</a></li>
                        <li><a class="dropdown-item" aria-current="variedades" routerLinkActive="variedades" routerLink="/mantenimiento/variedades">Variedades</a></li>
                        <li><a class="dropdown-item" routerLinkActive="pais" routerLink="/mantenimiento/tablas/pais">Tablas Varias</a></li>
                        <li><a class="dropdown-item" aria-current="tipoCambio" routerLinkActive="tipoCambio" routerLink="/mantenimiento/tipoCambio">Tipo de Cambio</a></li>

                    </ul>
                </li>

              
            </ul>

            <span class="navbar-text ms-auto">
               
            </span>

            <span class="navbar-text">
                {{ usuario.nombres + ' ' + usuario.apellidoPaterno }}
              </span>
        </div>
    </div>
</nav>