<div class="accordion" id="accTipoEstudio">
    @for (tipoEstudio of tipoEstudios; track  tipoEstudio.id ;let idx1 = $index) {
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#co' + idx1" aria-expanded="true">
                <input type="checkbox" checked class="form-check-input me-2" aria-label="Checkbox"> 
        
              {{tipoEstudio.descripcion}}
            </button>
          </h2>
          <div id="co{{idx1}}" class="accordion-collapse collapse show" >
            <div class="accordion-body">
                <div class="accordion" id="acczona{{idx1}}">
                    @for (zona of zonas; track  zona.id ;let idx2 = $index) {
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#zona' + idx1+idx2" aria-expanded="true">
                                <input type="checkbox" checked class="form-check-input me-2" aria-label="Checkbox"> 
                                {{zona.descripcion}}
                            </button>
                          </h2>
                          <div id="zona{{idx1+''+idx2}}" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="accordion" id="acccanal{{idx1+idx2}}">
                                    @for (canal of canals; track  canal.id ;let idx3 = $index) {
                                        <div class="accordion-item">
                                          <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#canal'  + idx1+idx2+idx3" aria-expanded="true">
                                                <input type="checkbox" checked class="form-check-input me-2" aria-label="Checkbox"> 
                                                {{canal.descripcion}}
                                            </button>
                                          </h2>
                                          <div id="canal{{ idx1+''+idx2+''+idx3}}" class="accordion-collapse collapse show">
                                            <div class="accordion-body">
                                                <div class="accordion" id="acctipoInformeOrden{{ idx1+idx2+idx3}}">
                                                    @for (tipoInformeOrden of tipoInformeOrdens;  track  tipoInformeOrden.id ;let idx4 = $index) {
                                                        <div class="accordion-item">
                                                          <h2 class="accordion-header">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#tipoInformeOrden' + idx1+idx2+idx3+idx4" aria-expanded="true">
                                                                <input type="checkbox" checked class="form-check-input me-2" aria-label="Checkbox"> 
                                                                {{tipoInformeOrden.descripcion}}
                                                            </button>
                                                          </h2>
                                                          <div id="tipoInformeOrden{{idx1+''+idx2+''+idx3+''+idx4}}" class="accordion-collapse collapse show">
                                                            <div class="accordion-body">
                                                                <div class="accordion" id="accatributoFuncionalVariedad{{idx1+idx2+idx3+idx4}}">
                                                                    @for (atributoFuncionalVariedad of atributoFuncionalVariedads; track  atributoFuncionalVariedad.id ;let idx5 = $index) {
                                                                        <div class="accordion-item">
                                                                        <h2 class="accordion-header">
                                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#atributoFuncionalVariedad' + idx1+idx2+idx3+idx4+idx5" aria-expanded="true">
                                                                                <input type="checkbox" checked class="form-check-input me-2" aria-label="Checkbox"> 
                                                                                {{atributoFuncionalVariedad.descripcion}}
                                                                            </button>
                                                                        </h2>
                                                                        <div id="atributoFuncionalVariedad{{idx1+''+idx2+''+idx3+''+idx4+''+idx5}}" class="accordion-collapse collapse show">
                                                                            
                                                                        </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    }
                                </div>         
                            </div>
                          </div>
                        </div>
                    }
                </div>
            </div>
          </div>
        </div>
    }
   
  </div>