<h6 class="mb-3 text-center">PARAMETROS REGISTRADOS</h6>
<hr>
<div class="row">
    <div class="col-md-12">
        @if (showLoading) {
        <app-div-cargando></app-div-cargando>

        } @else {
        <table class="table table-sm table-bordered">
            <thead class="table-success">
                <tr>
                    <th>ITEM</th>
               
                    <th>TipoZona</th>
                    <th>Descripcion</th>
                    <th>Zona Principal</th>
                    <th>Numero Orden</th>
                    <th>Estado</th>
                    <th>Creación</th>
                    <th>Modificacion</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @for (model of models; track $index) {
                    <tr (click)="elegir(model,$index)"  [ngClass]="{'selected-row': $index === selectIndex}">
                        <td>{{model.id}}</td>
                       
                        <td>{{model.TipoZona.descripcion}}</td>
                        <td>{{model.descripcion}}</td>
                        <td>{{model.ZonaPrincipal?.descripcion}}</td>
                        <td>{{model.numeroOrden}}</td>
                        <td>
                            @if(model.estado==1){
                                <span class="badge text-bg-success">ACTIVO</span>
                            }@else {
                                <span class="badge text-bg-danger">ANULADO</span>
                            }
                        </td>
                        
                        <td>{{model.fechaRegistro && model.fechaRegistro.substring(0,10)}}</td>
                        <td>{{model.fechaModificacion && model.fechaModificacion.substring(0,10)}}</td>
    
                        <td>
                            <button class="btn btn-sm btn-danger btn-sm" type="button" (click)="delete(model)"><i
                                    class="bi bi-trash"></i></button>
                            <button class="btn btn-sm btn-info btn-sm" type="button" (click)="editModel(model)"><i
                                    class="bi bi-pencil"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }

    </div>
</div>