<div class="row">
    <div class="col-md-12">
        <form [formGroup]="models">
            <div formArrayName="modelos">
                <table class="table text-center table-sm table-bordered">
                    <thead class="table-success fs-6">
                        <tr>
                            <th>Id</th>

                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Zonas</th>

                            <th>Acciones</th>
                        </tr>

                    </thead>
                    <tbody>
                        @if (modelosArray.controls.length!=0) {
                        @for (model of modelosArray.controls; track $index) {
                        <tr [formGroupName]="$index" (click)="elegir($index)"
                            [ngClass]="{'selected-row': $index === selectIndex}">
                            <td> <label class="mt-2">{{model.get('id')?.value}}</label> </td>
                            <td>
                                {{model.get('nombre')?.value==''?model.get('zonas')?.value:model.get('nombre')?.value}}
                            </td>
                            <td>
                                {{model.get('zonas')?.value.includes(',')?'COMPUESTA':'SIMPLE'}}
                            </td>
                            <td>
                                {{model.get('zonas')?.value}}
                            </td>

                            <td>
                                <div class="btn-group">
                                    <!-- <button class="btn btn-sm btn-info btn-sm" (click)="editModel($index)"
                                    data-bs-toggle="modal" data-bs-target="#modalEditAgrupacionZona"><i
                                        class="bi bi-pencil"></i></button> -->

                                       
                                        <img class="iconEdit" src="assets/editar.png"  (click)="editModel($index)" data-bs-toggle="modal" data-bs-target="#modalEditAgrupacionZona">
                                    @if(model.get('id')?.value!=0){
                                      
                                        <!-- <button class="btn btn-sm btn-danger btn-sm" (click)="delete($index)"><i
                                                class="bi bi-trash-fill"></i></button> -->
                                                <img class="iconEliminar" src="assets/eliminar.png"  (click)="delete($index)">

                                        @if(modelosArray.controls.length==$index+1){
                                        <!-- <button class="btn btn-sm btn-primary btn-sm" (click)="add()"><i
                                                class="bi bi-plus-lg"></i></button> -->

                                                <img class="iconNuevo" src="assets/nuevo.png"  (click)="add()">
                                        }
                                    }@else{
                                    <!-- <button class="btn btn-sm btn-success btn-sm" (click)="save($index)"><i
                                            class="bi bi-save2"></i></button> -->
                                    }
                                </div>



                            </td>
                        </tr>
                        }

                        }

                    </tbody>
                </table>
            </div>

        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
    </div>
</div>


<div class="modal fade" id="modalEditAgrupacionZona" tabindex="-1" aria-labelledby="modalEditAgrupacionZonaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditAgrupacionZonaLabel">Agrupacion de Zona</h1>
                <button type="button" id="modalAgrupaciones" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="nombreAgrupacionZona" placeholder="Nombre Agrupacion">

                          </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="input-group">
                            <select class="form-select" id="modalZonaAgrupacion" (change)="comboEligeZonaAgrupacion($event)"
                                aria-label="Example select with button addon">
                                <option selected>Seleccinar</option>
                                @for (zona of zonasAgrupacionTotal; track $index) {
                                <option value={{zona.id}}>{{zona.descripcion}}</option>
                                }
                            </select>
                            <button class="btn btn-primary" type="button" (click)="agregarZonaAgrupacion()"> <i class="bi bi-plus-lg"></i> Agregar</button>
                        </div>
                    </div>
                </div>
                <table class="table table-sm mt-4 table-bordered">
                    <thead>
                        <tr class="table-success">
                            <th>Id</th>
                            <th>Zona</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (zona of zonasAgrupacion ; track $index) {
                            <tr>
                                <td>{{zona.id}}</td>
                                <td>{{zona.descripcion}}</td>
                                <td>
                                    <button class="btn btn-sm btn-danger"> <i class="bi bi-trash"></i> </button>
                                </td>
                            </tr>
                        }@empty {
                            <tr>
                                No hay zonas agregadas...
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" #botonCerrarModalAgrupacion data-bs-dismiss="modal" id="cerrarModalAgrupacion">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarZonaAgrupacion()"> <i class="bi bi-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>





<app-black-loading [show]="showLoading"></app-black-loading>