

<h6 class="mb-3 text-center">INFORMACION DEL PARÁMETRO</h6>
<hr>

<form (ngSubmit)="submit()" autocomplete="off" [formGroup]="myForm">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3 row">
                <label for="descripcion" class="col-md-4 col-form-label-sm">Descripcion</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="descripcion" name="descripcion"
                        formControlName="descripcion" id="descripcion" />
                </div>
                <span *ngIf="isValidField('descripcion')" class="form-text text-danger">
                    {{ getFieldError('descripcion') }}
                </span>
            </div>

            <!-- <div class="mb-3 row">
                <label for="descripcionResumida" class="col-md-4 col-form-label-sm">Descripción Resumida</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="descripcionResumida" name="descripcionResumida"
                        formControlName="descripcionResumida" id="descripcionResumida" />
                </div>
                <span *ngIf="isValidField('descripcionResumida')" class="form-text text-danger">
                    {{ getFieldError('descripcionResumida') }}
                </span>
            </div>
            

            <div class="mb-3 row">
                <label for="tip" class="col-md-4 col-form-label-sm">Tip</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="tip" name="tip"
                        formControlName="tip" id="tip" />
                </div>
                <span *ngIf="isValidField('tip')" class="form-text text-danger">
                    {{ getFieldError('tip') }}
                </span>
            </div> -->
          
            <div class="mb-3 row">
                <label for="idClasificadoReferencia" class="col-md-4 col-form-label-sm">Clasificado</label>
                <div class="col-sm-8">

                    <select class="form-select form-select-sm" formControlName="idClasificadoReferencia" id="idClasificadoReferencia">
                        <option value="0">[SELECCIONAR]</option>
                        @for (clasificadoReferencia of clasificadoReferencias; track $index) {
                            <option value={{clasificadoReferencia.id}}>{{clasificadoReferencia.descripcion}}</option>
                        }
                    </select>
                    
                </div>
                <span *ngIf="isValidField('idClasificadoReferencia')" class="form-text text-danger">
                    {{ getFieldError('idClasificadoReferencia') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="valorParametro1" class="col-md-4 col-form-label-sm">Valor Parametro1</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="valorParametro1" name="valorParametro1"
                        formControlName="valorParametro1" id="valorParametro1" />
                </div>
                <span *ngIf="isValidField('valorParametro1')" class="form-text text-danger">
                    {{ getFieldError('valorParametro1') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="valorParametro2" class="col-md-4 col-form-label-sm">Valor Parametro2</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="valorParametro2" name="valorParametro2"
                        formControlName="valorParametro2" id="valorParametro2" />
                </div>
                <span *ngIf="isValidField('valorParametro2')" class="form-text text-danger">
                    {{ getFieldError('valorParametro2') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="valorParametro3" class="col-md-4 col-form-label-sm">Valor Parametro3</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="valorParametro3" name="valorParametro3"
                        formControlName="valorParametro3" id="valorParametro3" />
                </div>
                <span *ngIf="isValidField('valorParametro3')" class="form-text text-danger">
                    {{ getFieldError('valorParametro3') }}
                </span>
            </div>
          
    
         </div>
 
         <div class="col-md-6">
            <div class="mb-3 row">
                <label for="inicioVigencia" class="col-md-4 col-form-label-sm">Inicio Vigencia</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control form-control-sm" placeholder="inicioVigencia" name="inicioVigencia"
                        formControlName="inicioVigencia" id="inicioVigencia" />
                </div>
                <span *ngIf="isValidField('inicioVigencia')" class="form-text text-danger">
                    {{ getFieldError('inicioVigencia') }}
                </span>
            </div>

            <!-- <h6>ALIAS PARA BUSQUEDA</h6> -->

            <div class="mb-3 row">
                <label for="alias1" class="col-md-4 col-form-label-sm">Alias 1</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="alias1" name="alias1"
                        formControlName="alias1" id="alias1" />
                </div>
                <span *ngIf="isValidField('alias1')" class="form-text text-danger">
                    {{ getFieldError('alias1') }}
                </span>
            </div>   
            
            <!-- <div class="mb-3 row">
                <label for="alias2" class="col-md-4 col-form-label-sm">Alias 2</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="alias2" name="alias2"
                        formControlName="alias2" id="alias2" />
                </div>
                <span *ngIf="isValidField('alias2')" class="form-text text-danger">
                    {{ getFieldError('alias2') }}
                </span>
            </div>  
            <div class="mb-3 row">
                <label for="alias3" class="col-md-4 col-form-label-sm">Alias 3</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="alias3" name="alias3"
                        formControlName="alias3" id="alias3" />
                </div>
                <span *ngIf="isValidField('alias3')" class="form-text text-danger">
                    {{ getFieldError('alias3') }}
                </span>
            </div>  
             -->
          
            
           

            
            <div class="input-group mt-3">
                <button class="btn btn-sm btn-success btn-sm text-white " type="submit" *ngIf="!currentModel.id">
                    <i class="bi bi-box-arrow-down"></i> Guardar
                </button>
                <button class="btn btn-sm btn-warning btn-sm text-white " (click)="nuevo()" type="button"
                    *ngIf="currentModel.id">
                    <i class="bi bi-plus-lg"></i> Nuevo
                </button>
                <button class="btn btn-sm btn-info btn-sm text-white " type="submit" *ngIf="currentModel.id">
                    <i class="bi bi-pencil"></i> Guardar
                </button>

            </div>
       
        </div>
    </div>
</form>
