<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
            role="tab" aria-controls="home-tab-pane" aria-selected="true">Negocios</button>
    </li>
    <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
            role="tab" aria-controls="profile-tab-pane" aria-selected="false">Contactos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
            role="tab" aria-controls="contact-tab-pane" aria-selected="false">Horarios Pactados</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#zonasCliente" type="button"
            role="tab" aria-controls="zonasCliente" aria-selected="false">Zonas por cliente</button>
    </li> -->
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <form autocomplete="off" [formGroup]="myForm">
            <div class="row  mt-4">
                <div class="col-md-4">

                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label-sm">Código</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm"><span>{{currentModel.id}}</span></div>
                        </div>
                       
                    </div>

                    <div class="mb-3 row">
                        <label for="ruc" class="col-md-3 col-form-label-sm">RUC</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="ruc" name="ruc"
                                formControlName="ruc" id="ruc" maxlength="11"/>
                        </div>
                        <span *ngIf="isValidField('ruc')" class="form-text text-danger">
                            {{ getFieldError('ruc') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="direccion" class="col-md-3 col-form-label-sm">Dirección</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="direccion"
                                name="direccion" formControlName="direccion" id="direccion" />
                        </div>
                        <span *ngIf="isValidField('direccion')" class="form-text text-danger">
                            {{ getFieldError('direccion') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="nombreComercial" class="col-md-3 col-form-label-sm">Nombre Comercial</label>
                        <div class="col-sm-9">

                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-sm" placeholder="Nombre comercial"
                                    name="nombreComercial" formControlName="nombreComercial" id="nombreComercial" />
                                <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal"
                                    data-bs-target="#modalBuscarNegocio"><i class="bi bi-search"></i></button>
                            </div>

                        </div>
                        <span *ngIf="isValidField('nombreComercial')" class="form-text text-danger">
                            {{ getFieldError('nombreComercial') }}
                        </span>
                    </div>

                    <!-- <div class="mb-3 row">
                        <label for="nombreResumido" class="col-md-3 col-form-label-sm">Nombre Resumido</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Nombre resumido"
                                name="nombreResumido" formControlName="nombreResumido" id="nombreResumido" />
                        </div>
                        <span *ngIf="isValidField('nombreResumido')" class="form-text text-danger">
                            {{ getFieldError('nombreResumido') }}
                        </span>
                    </div> -->

                    <!-- <div class="mb-3 row">
                        <label for="nombreTip" class="col-md-3 col-form-label-sm">Nombre TIP</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Tip"
                                name="nombreTip" formControlName="nombreTip" id="nombreTip" />
                        </div>
                        <span *ngIf="isValidField('nombreTip')" class="form-text text-danger">
                            {{ getFieldError('nombreTip') }}
                        </span>
                    </div> -->

                    <div class="mb-3 row">
                        <label for="idCanal" class="col-md-3 col-form-label-sm">Canal</label>
                        <div class="col-sm-9">
                            <select class="form-select form-select-sm" formControlName="idCanal">
                                <option value="0">SELECCIONAR</option>
                                @for (canal of listCanal; track $index) {

                                    <option value={{canal.id}}>
                                        {{canal.descripcion}}
                                    </option>
                                }
                            </select>

                        </div>
                        <span *ngIf="isValidField('idCanal')" class="form-text text-danger">
                            {{ getFieldError('idCanal') }}
                        </span>
                    </div>



                    <div class="mb-3 row">
                        <label for="entregaFactura" class="col-md-3 col-form-label-sm">Entrega Factura</label>
                        <div class="col-sm-9">
                            <select class="form-select form-select-sm" formControlName="entregaFactura">
                                <option value="">SELECCIONAR</option>
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </div>
                        <span *ngIf="isValidField('entregaFactura')" class="form-text text-danger">
                            {{ getFieldError('entregaFactura') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="levantarNegocio" class="col-md-3 col-form-label-sm">Levantar Negocio</label>
                        <div class="col-sm-9">
                            <select class="form-select form-select-sm" formControlName="levantarNegocio">
                                <option value="">SELECCIONAR</option>
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </div>
                        <span *ngIf="isValidField('levantarNegocio')" class="form-text text-danger">
                            {{ getFieldError('levantarNegocio') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="negocioEquivalente" class="col-md-3 col-form-label-sm">Negocio Equivalente</label>
                        <div class="col-sm-9">
                            <select class="form-select form-select-sm" formControlName="negocioEquivalente">
                                <option value="">SELECCIONAR</option>
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </div>
                        <span *ngIf="isValidField('negocioEquivalente')" class="form-text text-danger">
                            {{ getFieldError('negocioEquivalente') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="telefono" class="col-md-3 col-form-label-sm">Teléfono</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="telefono"
                                name="telefono" formControlName="telefono" id="telefono" />
                        </div>
                        <span *ngIf="isValidField('telefono')" class="form-text text-danger">
                            {{ getFieldError('telefono') }}
                        </span>
                    </div>

                    <!-- <div class="mb-3 row">
                        <label for="fax" class="col-md-3 col-form-label-sm">Fax</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="fax" name="fax"
                                formControlName="fax" id="fax" />
                        </div>
                        <span *ngIf="isValidField('fax')" class="form-text text-danger">
                            {{ getFieldError('fax') }}
                        </span>
                    </div> -->

                    <div class="mb-3 row">
                        <label for="idDepartamento" class="col-md-3 col-form-label-sm">Departamento</label>
                        <div class="col-sm-9">
                            <select class="form-select form-select-sm" formControlName="idDepartamento">
                                <option value="0">SELECCIONAR</option>
                                @for (departamento of departamentos; track $index) {
                                    <option value={{departamento.id}}>{{departamento.descripcion}}</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="idProvincia" class="col-md-3 col-form-label-sm">Provincia</label>
                        <div class="col-sm-9">
                            <select class="form-select form-select-sm" formControlName="idProvincia">
                                <option value="0">SELECCIONAR</option>
                                @for (provincia of getProvincias; track $index) {
                                    <option value={{provincia.id}}>{{provincia.descripcion}}</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="idDistrito" class="col-md-3 col-form-label-sm">Distrito</label>
                        <div class="col-sm-9">
                            <select class="form-select form-select-sm" formControlName="idDistrito">
                                <option value="0">SELECCIONAR</option>
                                @for (distrito of getDistritos; track $index) {
                                    <option value={{distrito.id}}>{{distrito.descripcion}}</option>
                                }
                                
                            </select>

                        </div>
                        <span *ngIf="isValidField('idDistrito')" class="form-text text-danger">
                            {{ getFieldError('idDistrito') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="idUrbanizacion" class="col-md-3 col-form-label-sm">Urbanización</label>
                        <div class="col-sm-9">
                            <select class="form-select form-select-sm" formControlName="idUrbanizacion">
                                <option value="0">SELECCIONAR</option>
                                <option *ngFor="let urbanizacion of getUrbanizacions" [value]="urbanizacion.id">
                                    {{urbanizacion.descripcion}}
                                </option>
                            </select>

                        </div>
                        <span *ngIf="isValidField('idUrbanizacion')" class="form-text text-danger">
                            {{ getFieldError('idUrbanizacion') }}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 row">
                        <label for="idVia" class="col-md-3 col-form-label-sm">Código Via</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="idVia" name="idVia"
                                formControlName="idVia" id="idVia" />
                        </div>
                        <span *ngIf="isValidField('idVia')" class="form-text text-danger">
                            {{ getFieldError('idVia') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="numeroDomicilio" class="col-md-3 col-form-label-sm">Numero Domicilio</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="numeroDomicilio"
                                name="numeroDomicilio" formControlName="numeroDomicilio" id="numeroDomicilio" />
                        </div>
                        <span *ngIf="isValidField('numeroDomicilio')" class="form-text text-danger">
                            {{ getFieldError('numeroDomicilio') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="interior" class="col-md-3 col-form-label-sm">Interior</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="interior"
                                name="interior" formControlName="interior" id="interior" />
                        </div>
                        <span *ngIf="isValidField('interior')" class="form-text text-danger">
                            {{ getFieldError('interior') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="manzana" class="col-md-3 col-form-label-sm">Manzana</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="manzana" name="manzana"
                                formControlName="manzana" id="manzana" />
                        </div>
                        <span *ngIf="isValidField('manzana')" class="form-text text-danger">
                            {{ getFieldError('manzana') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="lote" class="col-md-3 col-form-label-sm">Lote</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="lote" name="lote"
                                formControlName="lote" id="lote" />
                        </div>
                        <span *ngIf="isValidField('lote')" class="form-text text-danger">
                            {{ getFieldError('lote') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="referencia" class="col-md-3 col-form-label-sm">Referencia</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="referencia"
                                name="referencia" formControlName="referencia" id="referencia" />
                        </div>
                        <span *ngIf="isValidField('referencia')" class="form-text text-danger">
                            {{ getFieldError('referencia') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="lat" class="col-md-3 col-form-label-sm">Latitud</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="lat" name="lat"
                                formControlName="lat" id="lat" />
                        </div>
                        <span *ngIf="isValidField('lat')" class="form-text text-danger">
                            {{ getFieldError('lat') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="lgn" class="col-md-3 col-form-label-sm">longitud</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="lgn" name="lgn"
                                formControlName="lgn" id="lgn" />
                        </div>
                        <span *ngIf="isValidField('lgn')" class="form-text text-danger">
                            {{ getFieldError('lgn') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="zonaAccidentada" class="col-md-3 col-form-label-sm">Zona Accidentada</label>
                        <div class="col-sm-9">

                            <select class="form-select form-select-sm" name="zonaAccidentada"
                                formControlName="zonaAccidentada">
                                <option value="">SELECCIONAR</option>
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </div>
                        <span *ngIf="isValidField('zonaAccidentada')" class="form-text text-danger">
                            {{ getFieldError('zonaAccidentada') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="zonaRiesgo" class="col-md-3 col-form-label-sm">Zona Riesgo</label>
                        <div class="col-sm-9">

                            <select class="form-select form-select-sm" name="zonaRiesgo" formControlName="zonaRiesgo">
                                <option value="">SELECCIONAR</option>
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>


                        </div>
                        <span *ngIf="isValidField('zonaRiesgo')" class="form-text text-danger">
                            {{ getFieldError('zonaRiesgo') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="idRuta" class="col-md-3 col-form-label-sm">Código Ruta</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Ruta" name="idRuta"
                                formControlName="idRuta" id="idRuta" />
                        </div>
                        <span *ngIf="isValidField('idRuta')" class="form-text text-danger">
                            {{ getFieldError('idRuta') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="aceptaProductos" class="col-md-3 col-form-label-sm">Acepta Productos</label>
                        <div class="col-sm-9">
                            <select class="form-select form-select-sm" name="aceptaProductos"
                                formControlName="aceptaProductos">
                                <option value="0">SELECCIONAR</option>
                                <option value="1">ACEPTA MAS CATEGORIAS</option>
                                <option value="2">NO ACEPTA MAS CATEGORIAS</option>
                            </select>
                        </div>
                        <span *ngIf="isValidField('aceptaProductos')" class="form-text text-danger">
                            {{ getFieldError('aceptaProductos') }}
                        </span>
                    </div>

                    <div class="mb-3 row">
                        <label for="estado" class="col-md-3 col-form-label-sm">Estado</label>
                        <div class="col-sm-9">
                            <select class="form-select form-select-sm" name="estado"
                                formControlName="estado">
                                <option value="1">ACTIVO</option>
                                <option value="0">SUSPENDIDO</option>
                            </select>
                        </div>
                        <span *ngIf="isValidField('estado')" class="form-text text-danger">
                            {{ getFieldError('estado') }}
                        </span>
                    </div>

                    <div class="input-group mt-3">
                        <button class="btn btn-sm btn-success btn-sm text-white " (click)="submit()" type="button"
                            *ngIf="!currentModel.id">
                            <i class="bi bi-box-arrow-down"></i> Guardar
                        </button>
                        <button class="btn btn-sm btn-warning btn-sm text-white " (click)="nuevo()" type="button"
                            *ngIf="currentModel.id">
                            <i class="bi bi-plus-lg"></i> Nuevo
                        </button>
                        <button class="btn btn-sm btn-info btn-sm text-white " (click)="submit()" type="button"
                            *ngIf="currentModel.id">
                            <i class="bi bi-pencil"></i> Guardar
                        </button>

                    </div>


                </div>
            </div>
        </form>


    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="row mt-4">
            <div class="col-md-12">
                <h5>NEGOCIO</h5>
                <table class="table table-sm table-bordered">
                    <tr>
                        <th>PAIS</th>
                        <td>PE</td>
                        <td>PERU</td>
                    </tr>
                    <tr>
                        <th>NEGOCIO</th>
                        <td>00972845</td>
                        <td>Av FERROCARIL 2208 PROGRESO</td>
                    </tr>
                </table>

                <table class="table table-sm table-bordered">
                    <tr>
                        <th colspan="10">CONTACTOS DE NEGOCIO</th>
                    </tr>
                    <tr>
                        ...
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div class="row mt-4">
            <div class="col-md-12">
                <h5>NEGOCIO</h5>
                <table class="table table-sm table-bordered">
                    <tr>
                        <th>PAIS</th>
                        <td>PE</td>
                        <td>PERU</td>
                    </tr>
                    <tr>
                        <th>NEGOCIO</th>
                        <td>00972845</td>
                        <td>Av FERROCARIL 2208 PROGRESO</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row mt-4">


            <div class="col-md-12">
                <h5>HORARIO PACTADO POR DIA DE LA SEMANA</h5>

                <table class="table table-borderd table-borderd">
                    <tr>
                        <th colspan="10">CONTACTOS DE NEGOCIO</th>
                    </tr>
                    <tr>
                        <td>Item</td>
                        <td>Dia de la semana</td>
                        <td>Desde</td>
                        <td>Hasta</td>
                        <td>Estatus</td>
                        <td>Fecha</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <select name="" id="">
                                <option value="">[SELECCIONAR]</option>
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <select name="" id="">
                                <option value="">[SELECCIONAR]</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="zonasCliente" tabindex="0">
        <div class="row mt-4">
            <div class="col-md-12">
                <h5>NEGOCIO</h5>
                <table class="table table-sm table-bordered">
                    <tr>
                        <th>PAIS</th>
                        <td>PE</td>
                        <td>PERU</td>
                    </tr>
                    <tr>
                        <th>NEGOCIO</th>
                        <td>00972845</td>
                        <td>Av FERROCARIL 2208 PROGRESO</td>
                    </tr>
                </table>

                <table class="table table-sm table-bordered">
                    <tr>
                        <th colspan="10">CONTACTOS DE NEGOCIO</th>
                    </tr>
                    <tr>
                        ...
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBuscarNegocio" tabindex="-1" aria-labelledby="modalBuscarNegocioLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalBuscarNegocioLabel">Buscar Negocio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Descripción..." [(ngModel)]="negocioDescripcion">
                            <button class="btn btn-primary" type="button" (click)="buscarNegocio(negocioDescripcion)"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @if(negociosEncontrados.length==0){
                            Sin resultados...
                        }@else {
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    @for (negociosEncontrado of negociosEncontrados; track $index) {
                                        <tr (click)="elegirNegocio(negociosEncontrado,$index)" [ngClass]="{'selected-row': $index === selectedRowIndex}"  >
                                            <td>{{negociosEncontrado.id}}</td>
                                            <td>{{negociosEncontrado.nombreComercial}}</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@if(showLoading){
<app-black-loading [show]="showLoading"></app-black-loading>
}