<app-mantenimiento-layout-header></app-mantenimiento-layout-header>

<style>
    .fs-small {
        font-size: 0.7rem;
    }
</style>
<div class="row" style="margin-bottom: 100px;">
    <div class="col-md-2">
        <div class="list-group">

            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="canal" routerLink="/mantenimiento/tablas/canal"> CANAL DE VENTA </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="tipoDireccion" routerLink="/mantenimiento/tablas/tipoDireccion"> TIPO DE DIRECCION </a>
            <a class="list-group-item list-group-item-action fs-small"> TIPO DE ESTUDIO </a>
            <a class="list-group-item list-group-item-action fs-small"> TIPO DE PRESENTACIÓN </a>
            <a class="list-group-item list-group-item-action fs-small"> TIPO DE MONEDA </a>
            <a class="list-group-item list-group-item-action fs-small"> TIPO DE MONEDA POR PAÍS </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="tipoUrbanizacion" routerLink="/mantenimiento/tablas/tipoUrbanizacion"> TIPO DE URBANIZACIÓN </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="tipoInformeOrden" routerLink="/mantenimiento/tablas/tipoInformeOrden"> TIPO DE INFORME ORDEN </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="tipoUnidadMedida" routerLink="/mantenimiento/tablas/tipoUnidadMedida"> TIPO DE UNIDAD DE MEDIDA </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="pais" routerLink="/mantenimiento/tablas/pais"> UBIGEO 1 - PAIS </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="departamento" routerLink="/mantenimiento/tablas/departamento"> UBIGEO 2 - DEPARTAMENTO </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="provincia" routerLink="/mantenimiento/tablas/provincia"> UBIGEO 3 - PROVINCIA </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="distrito" routerLink="/mantenimiento/tablas/distrito"> UBIGEO 4 - DISTRITO </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="urbanizacion" routerLink="/mantenimiento/tablas/urbanizacion"> UBIGEO 5 - URBANIZACIÓN </a>

            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="via" routerLink="/mantenimiento/tablas/via"> UBIGEO 6 - VIA </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="unidadMedida" routerLink="/mantenimiento/tablas/unidadMedida"> UNIDAD DE MEDIDA </a>
            <a class="list-group-item list-group-item-action fs-small" routerLinkActive="unidadVenta" routerLink="/mantenimiento/tablas/unidadVenta"> UNIDAD DE VENTA </a>

        </div>
    </div>

    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>



<app-mantenimiento-layout-footer></app-mantenimiento-layout-footer>