<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"  routerLink="">Damer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLinkActive="parametro" routerLink="/mantenimiento/parametro">Parámetro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="negocio" routerLinkActive="negocio" routerLink="/mantenimiento/negocio">Negocio</a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Mantenimiento
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLinkActive="pais" routerLink="/mantenimiento/tablas/pais">Tablas Varias</a></li>

                        <!-- <li><a class="dropdown-item" routerLinkActive="pais" routerLink="/mantenimiento/tablas/pais">Pais</a></li>
                        <li>
                            <a class="dropdown-item" routerLinkActive="departamento" routerLink="/mantenimiento/tablas/departamento">Departamento</a>
                        </li>
                        <li><a class="dropdown-item" routerLinkActive="provincia" routerLink="/mantenimiento/tablas/provincia">Provincia</a></li>
                        <li><a class="dropdown-item" routerLinkActive="distrito" routerLink="/mantenimiento/tablas/distrito">Distrito</a></li> -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<h5>Footer</h5>
