<form [formGroup]="model" autocomplete="off">
    <div class="row">
        <div class="col-12">

            <div class="mb-3 row">
                <label for="fecha" class="col-md-4 col-form-label-sm">Fecha</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control form-control-sm" placeholder="fecha" name="fecha"
                        formControlName="fecha" id="fecha" />
                </div>
                <span *ngIf="isValidField('fecha')" class="form-text text-danger">
                    {{ getFieldError('fecha') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="idMoneda" class="col-md-4 col-form-label-sm">Moneda</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm" formControlName="idMoneda" id="idMoneda"
                        name="idMoneda">
                        <option value="0">Seleccionar</option>
                        @for (moneda of listMoneda; track $index) {
                            <option value={{moneda.id}}>{{moneda.descripcion}}</option>
                        }
                    </select>

                </div>
                <span *ngIf="isValidField('idMoneda')" class="form-text text-danger">
                    {{ getFieldError('idMoneda') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="idTipoTipoCambio" class="col-md-4 col-form-label-sm">Tipo</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm" formControlName="idTipoTipoCambio" id="idTipoTipoCambio"
                        name="idTipoTipoCambio">
                        <option value="0">Seleccionar</option>
                        @for (tipoTipoCambio of listTipoTipoCambio; track $index) {
                            <option value={{tipoTipoCambio.id}}>{{tipoTipoCambio.descripcion}}</option>
                        }
                    </select>

                </div>
                <span *ngIf="isValidField('idTipoTipoCambio')" class="form-text text-danger">
                    {{ getFieldError('idTipoTipoCambio') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="valor" class="col-md-4 col-form-label-sm">Valor</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="valor" name="valor"
                        formControlName="valor" id="valor" />
                </div>
                <span *ngIf="isValidField('valor')" class="form-text text-danger">
                    {{ getFieldError('valor') }}
                </span>
            </div>

            <button class="btn btn-sm btn-success" (click)="agregar()">GUARDAR</button>

            <!-- <app-add-tipo-cambio [model]="getModel" (actualizarList)="actualizarList()"></app-add-tipo-cambio> -->
        </div>
    </div>


</form>