<h5 class="text-center">{{title}}</h5>

<div class="row">
  <div class="col-md-4" *ngIf="authService.canEdit(1)">
    <h6 class="mb-3 text-center">INFORMACION DEL TIPO UNIDAD MEDIDA</h6>
    <hr>
    <app-tipo-unidad-medida-form #tipoUnidadMedidaForm (updateModelsEmit)="get()" [model]="modelEdit"></app-tipo-unidad-medida-form>
  </div>
  <div class="col-md-8">
    <h6 class="mb-3 text-center">TIPO UNIDAD MEDIDA REGISTRADOS</h6>
    <hr>
    <app-tipo-unidad-medida-list [models]="models" (updateModelsEmit)="get()" (editEmit)="editModel($event)"></app-tipo-unidad-medida-list>
  </div>
</div>


<br>

