

    footer {
      background-color: #343a40;
      color: white;
      padding: 20px 0;
      text-align: center;
    }

    .table-sm > :not(caption) > * > * {
        padding: 0.25rem 0.25rem;
      }