@if (loading) {
   
}@else {
    @if(models.length>0){
        <table class="table table-sm table-bordered">
            <thead class="table-success">
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Creación</th>
                    <th>Modificacion</th>
                     <th>Acción</th> 
                </tr>
            </thead>
        
            <tbody>
                
                @for (model of models; track $index) {
                    <tr>
                        <td>{{model.id}}</td>
                        <td>{{model.descripcion}}</td>
                        <td>{{model.fechaRegistro && model.fechaRegistro.substring(0,10)}}</td>
                        <td>{{model.fechaModificacion && model.fechaModificacion.substring(0,10)}}</td>
                        <td>
                            <img class="iconEdit" src="assets/editar.png"  (click)="selectEdit(model)">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }@else {
        <span>No se encontraron resultados</span>
    }
}

