<div class="row">
    <div class="col-md-12">
      <form [formGroup]="models">
        <div formArrayName="modelos">
          <table class="table text-center table-sm">
            <thead class="table-success fs-6">
              <tr>
                <th>Id</th>
                <th>Categoria </th>
              
                <!-- <th>Indice</th>
                <th>Tipo Medida</th>
                <th>Unidad Medida</th>
                <th>Alias 1</th> -->
                <th>Acciones</th>
              </tr>

            </thead>
            <tbody>
              @if (modelosArray.controls.length!=0) {
              @for (model of modelosArray.controls; track $index) {
              <tr [formGroupName]="$index" (click)="elegir($index)"  [ngClass]="{'selected-row': $index === selectIndex}" >
                <td> <label class="mt-2">{{model.get('id')?.value}}</label> </td>
                <td>
                    <select class="form-select form-select-sm" formControlName="idCategoria">
                        <option value="">SELECCIONAR</option>
                        @for (categoria of categorias; track $index) {
                            <option value={{categoria.id}}>{{categoria.descripcion}}</option>
                        }
                    </select>
               
                </td>
     
                <td>
                  <div class="btn-group">

                    @if(model.get('id')?.value!=0){
                    <button class="btn btn-sm btn-info btn-sm" (click)="editModel($index)"><i
                        class="bi bi-pencil"></i></button>
                    <button class="btn btn-sm btn-danger btn-sm" (click)="delete($index)"><i
                        class="bi bi-trash-fill"></i></button>
                    @if(modelosArray.controls.length==$index+1){
                    <button class="btn btn-sm btn-primary btn-sm" (click)="add()"><i
                        class="bi bi-plus-lg"></i></button>
                    }
                    }@else{
                    <button class="btn btn-sm btn-success btn-sm" (click)="save($index)"><i
                        class="bi bi-save2"></i></button>
                    }
                  </div>



                </td>
              </tr>
              }

              }

            </tbody>
          </table>
        </div>

      </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
    </div>
  </div>
  
  
  
  
  
  
  
  
  <app-black-loading [show]="showLoading"></app-black-loading>