<div class="row">

    <div class="col-12"><h5 class="text-center">MANTENIMIENTO DE CANASTA</h5></div>
 
    <div class="w-100"></div>

    <div class="col-6"><h5 class="text-center">INFORMACION DE CANASTA</h5> </div>
    <div class="col-6"><h5 class="text-center">ALIAS PARA BÚSQUEDA</h5></div>

    <div class="w-100"></div>

    <form (ngSubmit)="submit()" autocomplete="off" [formGroup]="myForm">
        <div class="row">

            <div class="col-6 mt-3">
                <div class="mb-3 row">
                    <label for="codigo" class="col-md-5 col-form-label-sm">Código</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" placeholder="codigo" name="codigo"
                            formControlName="codigo" id="codigo"/>
                    </div>
                    <span *ngIf="isValidField('codigo')" class="form-text text-danger">
                        {{ getFieldError('codigo') }}
                    </span>
                </div>
        
                <div class="mb-3 row">
                    <label for="descripcion" class="col-md-5 col-form-label-sm">Descripción</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" placeholder="descripcion" name="descripcion"
                            formControlName="descripcion" id="descripcion"/>
                    </div>
                    <span *ngIf="isValidField('descripcion')" class="form-text text-danger">
                        {{ getFieldError('descripcion') }}
                    </span>
                </div>
        
                <div class="mb-3 row">
                    <label for="descripcionResumida" class="col-md-5 col-form-label-sm">Descripción Resumida</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" placeholder="descripcionResumida" name="descripcionResumida"
                            formControlName="descripcionResumida" id="descripcionResumida"/>
                    </div>
                    <span *ngIf="isValidField('descripcionResumida')" class="form-text text-danger">
                        {{ getFieldError('descripcionResumida') }}
                    </span>
                </div>
        
                <div class="mb-3 row">
                    <label for="tip" class="col-md-5 col-form-label-sm">Tip</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" placeholder="tip" name="tip"
                            formControlName="tip" id="tip"/>
                    </div>
                    <span *ngIf="isValidField('tip')" class="form-text text-danger">
                        {{ getFieldError('tip') }}
                    </span>
                </div>
        
                <div class="mb-3 row">
                    <label for="especificarAltura" class="col-md-5 col-form-label-sm">Especificar Altura</label>
                    <div class="col-sm-7">
                        <select  class="form-select form-select-sm" placeholder="especificarAltura" name="especificarAltura"
                        formControlName="especificarAltura" id="especificarAltura">
                            <option value="0">NO</option>
                            <option value="1">SI</option>
                        </select>
                    </div>
                    <span *ngIf="isValidField('especificarAltura')" class="form-text text-danger">
                        {{ getFieldError('especificarAltura') }}
                    </span>
                </div>
        
                <div class="mb-3 row">
                    <label for="especificarAnchura" class="col-md-5 col-form-label-sm">Especificar Anchura</label>
                    <div class="col-sm-7">
                        <select  class="form-select form-select-sm" placeholder="especificarAnchura" name="especificarAnchura"
                        formControlName="especificarAnchura" id="especificarAnchura">
                            <option value="0">NO</option>
                            <option value="1">SI</option>
                        </select>
                    </div>
                    <span *ngIf="isValidField('especificarAnchura')" class="form-text text-danger">
                        {{ getFieldError('especificarAnchura') }}
                    </span>
                </div>
        
                <div class="mb-3 row">
                    <label for="especificarProfundidad" class="col-md-5 col-form-label-sm">Especificar Profundidad</label>
                    <div class="col-sm-7">
                        <select  class="form-select form-select-sm" placeholder="especificarProfundidad" name="especificarProfundidad"
                        formControlName="especificarProfundidad" id="especificarProfundidad">
                            <option value="0">NO</option>
                            <option value="1">SI</option>
                        </select>
                    </div>
                    <span *ngIf="isValidField('especificarProfundidad')" class="form-text text-danger">
                        {{ getFieldError('especificarProfundidad') }}
                    </span>
                </div>
        
                <div class="mb-3 row">
                    <label for="especificarModelo" class="col-md-5 col-form-label-sm">Especificar Modelo</label>
                    <div class="col-sm-7">
                        <select  class="form-select form-select-sm" placeholder="especificarModelo" name="especificarModelo"
                        formControlName="especificarModelo" id="especificarModelo">
                            <option value="0">NO</option>
                            <option value="1">SI</option>
                        </select>
                    </div>
                    <span *ngIf="isValidField('especificarModelo')" class="form-text text-danger">
                        {{ getFieldError('especificarModelo') }}
                    </span>
                </div>
        
                
        
        
            </div>
            
            <div class="col-6 mt-3">
                <div class="mb-3 row">
                    <label for="alias1" class="col-md-5 col-form-label-sm">Alias 1</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" placeholder="alias1" name="alias1"
                            formControlName="alias1" id="alias1"/>
                      
                    </div>
                    <span *ngIf="isValidField('alias1')" class="form-text text-danger">
                        {{ getFieldError('alias1') }}
                    </span>
                </div>
                <div class="mb-3 row">
                    <label for="alias2" class="col-md-5 col-form-label-sm">Alias 2</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" placeholder="alias2" name="alias2"
                        formControlName="alias2" id="alias2"/>
                      
                    </div>
                    <span *ngIf="isValidField('alias2')" class="form-text text-danger">
                        {{ getFieldError('alias2') }}
                    </span>
                </div>
                <div class="mb-3 row">
                    <label for="alias3" class="col-md-5 col-form-label-sm">Alias 3</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" placeholder="alias3" name="alias3"
                            formControlName="alias3" id="alias3"/>
                      
                    </div>
                    <span *ngIf="isValidField('alias3')" class="form-text text-danger">
                        {{ getFieldError('alias3') }}
                    </span>
                </div>

                
            <div class="input-group mt-3">
                <button class="btn btn-success btn-sm text-white " type="submit" *ngIf="!currentModel.id">
                    <i class="bi bi-box-arrow-down"></i> Guardar
                </button>
                <button class="btn btn-warning btn-sm text-white " (click)="nuevo()" type="button"
                    *ngIf="currentModel.id">
                    <i class="bi bi-plus-lg"></i> Nuevo
                </button>
                <button class="btn btn-info btn-sm text-white " type="submit" *ngIf="currentModel.id">
                    <i class="bi bi-pencil"></i> Guardar
                </button>

            </div>
            </div>
        </div>
    </form>

</div>
