<div class="row">
    <div class="col">
        <form (ngSubmit)="submit()" autocomplete="off" [formGroup]="myForm">

            <div class="mb-3 row">
                <label for="descripcion" class="col-md-4 col-form-label-sm">Descripcion</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="descripcion" name="descripcion"
                        formControlName="descripcion" id="descripcion" />
                </div>
                <span *ngIf="isValidField('descripcion')" class="form-text text-danger">
                    {{ getFieldError('descripcion') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="idDepartamento" class="col-md-4 col-form-label-sm">Departamento</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm" formControlName="idDepartamento">
                        <option value="">SELECCIONAR</option>
                        <option *ngFor="let departamento of listDepartamentos" [value]="departamento.id">
                            {{departamento.descripcion}}
                        </option>
                    </select>

                </div>
                <span *ngIf="isValidField('idDepartamento')" class="form-text text-danger">
                    {{ getFieldError('idDepartamento') }}
                </span>
            </div>


            <div class="input-group mt-3">
                <button class="btn btn-sm btn-success btn-sm text-white " type="submit" *ngIf="!currentModel.id">
                    <i class="bi bi-box-arrow-down"></i> Guardar
                </button>
                <button class="btn btn-sm btn-warning btn-sm text-white " (click)="nuevo()" type="button"
                    *ngIf="currentModel.id">
                    <i class="bi bi-plus-lg"></i> Nuevo
                </button>
                <button class="btn btn-sm btn-info btn-sm text-white " type="submit" *ngIf="currentModel.id">
                    <i class="bi bi-pencil"></i> Guardar
                </button>

            </div>

        </form>
    </div>
</div>
