

<form [formGroup]="model" autocomplete="off">
    <div class="row">
        <div class="col-12">

            <div class="mb-3 row">
                <label for="idCliente" class="col-md-4 col-form-label-sm">Id Cliente</label>
                <div class="col-sm-8">

                    <div class="input-group mb-3">
                        <span class="input-group-text">{{cliente.id}}</span>
                        <span class="input-group-text">{{cliente.razonSocial}}</span>
                      </div>
                </div>
             
            </div>

            <div class="mb-3 row">
                <label for="idTipoDireccion" class="col-md-4 col-form-label-sm">Tipo Direccion</label>
                <div class="col-sm-8">
                   
                    <select class="form-select form-select-sm" formControlName="idTipoDireccion">
                        <option value="0">SELECCIONAR</option>
                        @for (tipoDireccion of tipoDireccions; track $index) {
                            <option value={{tipoDireccion.id}}>{{tipoDireccion.descripcion}}</option>
                        }
                    </select>
                </div>
                <span *ngIf="isValidField('idTipoDireccion')" class="form-text text-danger">
                    {{ getFieldError('idTipoDireccion') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="descripcion" class="col-md-4 col-form-label-sm">Descripcion</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="descripcion" name="descripcion"
                        formControlName="descripcion" id="descripcion" />
                </div>
                <span *ngIf="isValidField('descripcion')" class="form-text text-danger">
                    {{ getFieldError('descripcion') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="idDepartamento" class="col-md-4 col-form-label-sm">Departamento</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm" formControlName="idDepartamento">
                        <option value="0">SELECCIONAR</option>
                        @for (departamento of departamentos; track $index) {
                            <option value={{departamento.id}}>{{departamento.descripcion}}</option>
                        }
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="idProvincia" class="col-md-4 col-form-label-sm">Provincia</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm" formControlName="idProvincia">
                        <option value="0">SELECCIONAR</option>
                        @for (provincia of getProvincias; track $index) {
                            <option value={{provincia.id}}>{{provincia.descripcion}}</option>
                        }
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="idDistrito" class="col-md-4 col-form-label-sm">Distrito</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm" formControlName="idDistrito">
                        <option value="0">SELECCIONAR</option>
                        @for (distrito of getDistritos; track $index) {
                            <option value={{distrito.id}}>{{distrito.descripcion}}</option>
                        }
                        
                    </select>

                </div>
                <span *ngIf="isValidField('idDistrito')" class="form-text text-danger">
                    {{ getFieldError('idDistrito') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="idUrbanizacion" class="col-md-4 col-form-label-sm">Urbanización</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm" formControlName="idUrbanizacion">
                        <option value="0">SELECCIONAR</option>
                        <option *ngFor="let urbanizacion of getUrbanizacions" [value]="urbanizacion.id">
                            {{urbanizacion.descripcion}}
                        </option>
                    </select>

                </div>
                <span *ngIf="isValidField('idUrbanizacion')" class="form-text text-danger">
                    {{ getFieldError('idUrbanizacion') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="numDomicilio" class="col-md-4 col-form-label-sm">Num Domicilio</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="numDomicilio" name="numDomicilio"
                        formControlName="numDomicilio" id="numDomicilio" />
                </div>
                <span *ngIf="isValidField('numDomicilio')" class="form-text text-danger">
                    {{ getFieldError('numDomicilio') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="interior" class="col-md-4 col-form-label-sm">Interior</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="interior" name="interior"
                        formControlName="interior" id="interior" />
                </div>
                <span *ngIf="isValidField('interior')" class="form-text text-danger">
                    {{ getFieldError('interior') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="manzana" class="col-md-4 col-form-label-sm">Manzana</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="manzana" name="manzana"
                        formControlName="manzana" id="manzana" />
                </div>
                <span *ngIf="isValidField('manzana')" class="form-text text-danger">
                    {{ getFieldError('manzana') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="lote" class="col-md-4 col-form-label-sm">Lote</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="lote" name="lote"
                        formControlName="lote" id="lote" />
                </div>
                <span *ngIf="isValidField('lote')" class="form-text text-danger">
                    {{ getFieldError('lote') }}
                </span>
            </div>

            <div class="mb-3 row">
                <label for="referencia" class="col-md-4 col-form-label-sm">Referencia</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" placeholder="referencia" name="referencia"
                        formControlName="referencia" id="referencia" />
                </div>
                <span *ngIf="isValidField('referencia')" class="form-text text-danger">
                    {{ getFieldError('referencia') }}
                </span>
            </div>


            @if(!getModel.id){
                <button class="btn btn-sm btn-success" (click)="agregar()"><i class="bi bi-box-arrow-down"></i> Guardar</button>
            }@else{
                <button class="btn btn-sm btn-info" (click)="editar()"><i class="bi bi-pencil"></i> Editar</button>
         
                <button class="btn btn-sm btn-warning" (click)="nuevo()"><i class="bi bi-plus"></i> Nuevo</button>
            }

        </div>
    </div>


</form>