@if (loading) {
    <app-div-cargando></app-div-cargando>
}@else {
    @if(models.length>0){
        <table class="table table-sm table-bordered">
            <thead class="table-success">
                <tr>
                    <th>#</th>
                    <th>CodCliente</th>
                    <th>Nombre Completo</th>
                    <th>Cargo</th>
                    <th>Correo</th>
                    <th>Acción</th>
                </tr>
            </thead>
        
            <tbody>
                
                @for (model of models; track $index) {
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{model.codCliente}}</td>
                        <td>{{model.nombreCompleto}}</td>
                        <td>{{model.cargo}}</td>
                        <td>{{model.correo}}</td>
                        <td>
                         
                            <img class="iconEdit" src="assets/editar.png"  (click)="selectEdit(model)">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }@else {
        <span>No se encontraron resultados</span>
    }
}
